<template>
  <template v-if="subjectsState.activeSubjectId || subjectsState.creatingSubject">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ departmentHeader }}</h2>
      <ActionsToolbar v-if="state.id">
        <ToolbarAction @selectOption="showTeachers()">Показати викладачів навчальної дисципліни</ToolbarAction>
      </ActionsToolbar>
    </div>

    <form class="right-sidebar__form" @submit.prevent="saveSubject()" autocomplete="off">
      <TextInput
        required
        v-model="state.name"
        label="Назва"
        inputName="facultyName"
        class="right-sidebar__first-input"
      />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ actionSubjectButton }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppSeparator from '../../../components/separator.vue';
import TextInput from '../../../components/text-input2.vue';
import AppButton from '../../../components/button2.vue';
import ActionsToolbar from '../../../containers/actions-toolbar/actions-toolbar.vue';
import ToolbarAction from '../../../containers/actions-toolbar/action-option.vue';
import { higherEducationTypes } from '../../../../common/constants';
import { useDepartmentId } from '../../../../common/helpers/route.helpers';
import { subjectsStore } from '../../../../data/stores/subjects/subjects.store';
import { editedSubjectStore } from '../../../../data/stores/subjects/edited-subject.store';

export default defineComponent({
  setup() {
    const departmentId = useDepartmentId();
    editedSubjectStore.setNullishValues(departmentId);
    const state = editedSubjectStore.getState();
    const subjectsState = subjectsStore.getState();
    return {
      state,
      subjectsState,
    };
  },
  methods: {
    saveSubject() {
      if (!this.state.id) {
        subjectsStore.createSubject(this.state);
      }
      if (this.state.id) {
        subjectsStore.updateSubject(this.state.id, this.state);
      }
    },
    showEmployees() {
      const departmentId = this.state?.id;
      if (departmentId) {
        this.$router.push(`/structures/users/${departmentId}/employees`);
      }
    },
    showTeachers() {
      const universityId = this.$route.params.universityId;
      const facultyId = this.$route.params.facultyId;
      const departmentId = this.$route.params.departmentId;
      const subjectId = this.state.id;
      if (departmentId) {
        this.$router.push(
          `/structures/universities/${universityId}/faculties/${facultyId}/departments/${departmentId}/subjects/${subjectId}/teachers`
        );
      }
    },
  },
  computed: {
    departmentHeader() {
      if (this.state.id) {
        return 'Дані навчальної дисципліни';
      }
      return 'Створити навчальну дисципліну';
    },
    actionSubjectButton() {
      if (this.state.id) {
        return 'Змінити дані';
      }
      return 'Створити навчальну дисципліну';
    },
  },
  higherEducationTypes,
  components: {
    TextInput,
    AppSeparator,
    ActionsToolbar,
    ToolbarAction,
    AppButton,
  },
});
</script>
