<template>
  <div class="main-content__wrapper">
    <AppTable header="Навчальні дисципліни">
      <tr @focus="selectCreatingItem()" tabindex="0" class="entities-table__row">
        <td class="entities-table__vertical-aligned entities-table__padded">
          <button tabindex="-1" class="entities-table__add-circle">
            <PlusIcon />
          </button>
        </td>

        <td class="entities-table__vertical-aligned entities-table__padded entities-table__highlight-text">
          Додати навчальну дисципліну
        </td>
      </tr>

      <tr
        v-for="(subject, index) in subjectsState.subjects"
        @focus="selectItem(subject)"
        class="entities-table__row"
        :key="subject.id"
        tabindex="0"
      >
        <td
          class="entities-table__vertical-aligned entities-table__padded entities-table__secondary-data-text"
          width="15"
        >
          {{ index + 1 }}
        </td>

        <td class="entities-table__vertical-aligned entities-table__padded">
          <div class="entities-table__flex-wrapper">
            <span class="entities-table__main-data-text"> {{ subject.name }} </span>
          </div>
        </td>
      </tr>
    </AppTable>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppTable from '../../../components/table.vue';
import { VueComponent as PlusIcon } from '../../../../assets/icons/plus-icon.small.svg';
import { useDepartmentId } from '../../../../common/helpers/route.helpers';
import { editedSubjectStore } from '../../../../data/stores/subjects/edited-subject.store';
import { subjectsStore } from '../../../../data/stores/subjects/subjects.store';
import { ISubject } from '@rozcloud/shared/interfaces';

export default defineComponent({
  setup() {
    const departmentId = useDepartmentId();
    editedSubjectStore.setDepartmentId(departmentId);
    subjectsStore.getByDepartment();
    return {
      subjectsState: subjectsStore.getState(),
    };
  },
  components: {
    AppTable,
    PlusIcon,
  },
  methods: {
    selectItem(subject: ISubject) {
      subjectsStore.setActiveSubject(subject.id);
    },
    selectCreatingItem() {
      subjectsStore.setCreatingSubject();
    },
  },
});
</script>

<style></style>
