<template>
  <div class="main-content__wrapper">
    <StructuresItems
      :activeFolderId="groupsState.activeGroupId"
      @selectFolder="selectFolder($event)"
      :items="groupsState.groups"
    >
      <template #header>
        <h2 class="structures-items__header">Групи</h2>
      </template>
      <CreateStructureItem :isActive="groupsState.creatingGroup" @selectFolder="selectCreateFolder()" />
    </StructuresItems>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import StructuresItems from '../../../containers/structure-control-main/structures-items.vue';
import CreateStructureItem from '../../../containers/structure-control-main/create-structure-item.vue';
import { useGroupId } from '../../../../common/helpers/route.helpers';
import { subgroupsStore } from '../../../../data/stores/subgroups/subgroups.store';
import { editedSubgroupStore } from '../../../../data/stores/subgroups/edited-subgroup.store';

export default defineComponent({
  setup() {
    const supergroupId = useGroupId();

    editedSubgroupStore.setSuperGroupId(supergroupId);
    subgroupsStore.getByGroup();
    return {
      groupsState: subgroupsStore.getState(),
    };
  },
  methods: {
    async selectFolder(structureId: string) {
      subgroupsStore.setActiveGroup(structureId);
    },
    selectCreateFolder() {
      subgroupsStore.setCreatingGroup();
    },
  },
  components: {
    StructuresItems,
    CreateStructureItem,
  },
});
</script>
