<template>
  <template v-if="groupsState.activeGroupId || groupsState.creatingGroup">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ groupHeader }}</h2>
      <ActionsToolbar v-if="state.id">
        <ToolbarAction @selectOption="showStudents">Показати студентів</ToolbarAction>
      </ActionsToolbar>
    </div>

    <form class="right-sidebar__form" @submit.prevent="saveGroup()" autocomplete="off">
      <ImageInput v-model="state.image" :imageUrl="state.logo" inputName="logo" />

      <TextInput required v-model="state.name" label="Назва" inputName="groupName" class="right-sidebar__first-input" />

      <TextInput
        inputName="groupCreatedYear"
        v-model="state.groupCreatedYear"
        min="2017"
        max="2022"
        label="Рік створення"
        inputType="number"
      />

      <AppSelect
        v-if="!groupsState.creatingGroup"
        :selectOptions="state.students"
        v-model="state.groupPresidentId"
        label="Староста групи"
        inputName="groupPresident"
      />

      <AppSelect v-model="state.specializationId" label="Спеціальність" inputName="groupSpecialization" />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ groupActionButtonText }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppSelect from '../../../components/select.vue';
import AppSeparator from '../../../components/separator.vue';
import ImageInput from '../../../components/image-input.vue';
import TextInput from '../../../components/text-input2.vue';
import AppButton from '../../../components/button2.vue';
import ActionsToolbar from '../../../containers/actions-toolbar/actions-toolbar.vue';
import ToolbarAction from '../../../containers/actions-toolbar/action-option.vue';
import { groupsStore } from '../../../../data/stores/groups/groups.store';
import { useGroupId } from '../../../../common/helpers/route.helpers';
import { editedSubgroupStore } from '../../../../data/stores/subgroups/edited-subgroup.store';
import { subgroupsStore } from '../../../../data/stores/subgroups/subgroups.store';

export default defineComponent({
  setup() {
    const groupId = useGroupId();
    editedSubgroupStore.setSuperGroupId(groupId);
    const state = editedSubgroupStore.getState();
    const groupsState = subgroupsStore.getState();
    return {
      state,
      groupsState,
    };
  },
  components: {
    ImageInput,
    TextInput,
    AppSeparator,
    ActionsToolbar,
    ToolbarAction,
    AppButton,
    AppSelect,
  },
  methods: {
    saveGroup() {
      if (!this.state.id) {
        groupsStore.createGroup(this.state);
      }
      if (this.state.id) {
        groupsStore.updateGroup(this.state.id, this.state);
      }
    },
    showStudents() {
      const groupId = this.state?.id;
      const supergroupId = this.$route.params.groupId;
      if (groupId && supergroupId) {
        this.$router.push(`/structures/users/${groupId}/students?academic=false&supergroupId=${supergroupId}`);
      }
    },
  },
  computed: {
    groupHeader() {
      if (!this.groupsState.activeGroupId) {
        return 'Створити групу';
      }
      return 'Дані групи';
    },
    groupActionButtonText() {
      if (!this.groupsState.activeGroupId) {
        return 'Створити групу';
      }
      return 'Змінити дані';
    },
  },
});
</script>
