<template>
  <aside class="schedule-week-toolbar__root">
    <section class="schedule-week-toolbar__actions">
      <button @click="save" title="Зберегти зміни" class="schedule-week-toolbar__action-button" type="button">
        <CheckIcon />
      </button>
      <button
        @click.prevent="toggleShowDate"
        title="Показати дати"
        class="schedule-week-toolbar__action-button"
        type="button"
      >
        <EyeClosedIcon v-if="showDates" />
        <EyeIcon v-if="!showDates" />
      </button>
    </section>
  </aside>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { VueComponent as EyeIcon } from '../../../../assets/icons/eye.svg';
import { VueComponent as EyeClosedIcon } from '../../../../assets/icons/icon-eye-closed.svg';
import { VueComponent as CheckIcon } from '../../../../assets/icons/check-icon.svg';

export default defineComponent({
  props: {
    showDates: {
      type: Boolean,
    },
  },
  emits: ['toggleShowDates', 'saveSchedule'],
  methods: {
    toggleShowDate() {
      this.$emit('toggleShowDates');
    },
    save() {
      this.$emit('saveSchedule');
    },
  },
  components: {
    EyeIcon,
    EyeClosedIcon,
    CheckIcon,
  },
});
</script>

<style>
.schedule-week__toolbar {
  width: 100%;
  height: 34px;
  background: var(--primary);
}

.schedule-week-toolbar__root {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 3;
  width: 48px;
  height: 100%;
  background: var(--primary);
  will-change: transform;
}

.schedule-week-toolbar__actions {
  display: flex;
  flex-direction: column;
  padding: 6px;
  align-items: center;
  color: #fff;
}

.schedule-week-toolbar__action-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
  /* width: 36px; */
  height: 36px;
  cursor: pointer;
  transition-duration: 0.2s;
  margin-bottom: 6px;
}
.schedule-week-toolbar__action-button:hover,
.schedule-week-toolbar__action-button:focus {
  /* color: var(--accent); */
  transform: scale(1.015);
  background: var(--primary-highlight);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
</style>
