<template>
  <section @mousedown="startTrackSelection($event)" ref="sheetLayer" class="schedule-week-table__table-wrapper">
    <table class="schedule-table__table" v-if="scheduleStore.selectedWeek">
      <caption class="schedule-week-table__table-caption">
        Створення розкладу
      </caption>

      <tbody class="schedule-table__body" @mousedown="unselectAll">
        <tr ref="groupRow">
          <td :rowspan="2" :colspan="2" class="schedule-week-table__cell-gap"></td>
          <th
            :colspan="scheduleStore.selectedWeek.groupItems?.length || 0"
            class="schedule-week-table__cell schedule-week-table__cell-group-heading"
          >
            Група
          </th>
          <td :rowspan="2" class="schedule-week-table__cell-add-group">
            <button
              @click="toggleDialogVisibility"
              title="Додати групу"
              type="button"
              class="schedule-week-table__add-group-button"
            >
              <PlusIcon />
            </button>
          </td>
        </tr>

        <tr class="schedule-week-table__group-row">
          <th
            v-for="groupItem in scheduleStore.selectedWeek.groupItems || []"
            :key="groupItem.group.id"
            class="schedule-week-table__cell schedule-week-table__cell-group-name-heading"
          >
            <div
              class="schedule-week-table__cell-group-name-heading-wrapper"
              :class="{ 'schedule-week-table__cell-group-name-heading_highlighted': groupItem.isHighlighted }"
            >
              {{ groupItem.group.name }}
            </div>
          </th>
        </tr>

        <template v-if="scheduleStore.selectedWeek?.groupItems?.length">
          <ScheduleDay
            v-for="scheduleDayData in scheduleStore.selectedWeek?.scheduleData || []"
            :scheduleDayData="scheduleDayData"
            :key="scheduleDayData.day.dayName"
            @paste="handleDataPaste"
          />
        </template>

      </tbody>
    </table>
  </section>
</template>
<script lang="ts">
import ScheduleDay from './containers/schedule-item-day.vue';
import { defineComponent } from 'vue';
import { groupsScheduleStore } from './../../../../data/stores/schedule-week/schedule-week.group-schedule';
import { VueComponent as PlusIcon } from '../../../../assets/icons/plus-icon.svg';
import { scheduleAddGroupStore } from '../../../../data/stores/schedule-week/schedule-week-add-group.store';
import { sheetSelectionStore } from '../../../../data/stores/schedule-week/sheet-selection';
import { IScheduleItemData } from '../../../../common/interfaces/components/schedule-week';
import { IPastePayload } from '../../../../common/interfaces/components/schedule-week.selection';
import { getSelectedScheduleItems } from '../../../../common/helpers/storage.helpers';
import { userToFullName } from '../../../../common/helpers/mappers';
import { subjectTypesMap } from '../../../../common/constants';

export default defineComponent({
  setup() {
    const scheduleStore = groupsScheduleStore.data;
    const { toggleDialogVisibility } = scheduleAddGroupStore;
    const { startTrackSelection, unselectAll } = sheetSelectionStore;
    return {
      scheduleStore,
      toggleDialogVisibility,
      startTrackSelection,
      unselectAll,
    };
  },
  methods: {
    onTeacherInputChange(scheduleItemData: IScheduleItemData, e: Event) {
      const value = (e.target as HTMLInputElement).value;
      scheduleItemData.teacherInputValue = value;
    },
    handleDataPaste(payload: IPastePayload) {
      const scheduleItemsCopied = getSelectedScheduleItems();
      if (!scheduleItemsCopied || !groupsScheduleStore.data.selectedWeek) {
        return;
      }

      let startSubjectsIndex =
        scheduleItemsCopied.selectedSubjects.length < scheduleItemsCopied.selectedTeachers.length
          ? payload.itemNumber + 1
          : payload.itemNumber;

      let startTeachersIndex =
        scheduleItemsCopied.selectedTeachers.length < scheduleItemsCopied.selectedAuditories.length
          ? payload.itemNumber + 1
          : payload.itemNumber;

      let startAuditoriesIndex =
        scheduleItemsCopied.selectedAuditories.length < scheduleItemsCopied.selectedSubjectTypes.length
          ? payload.itemNumber + 1
          : payload.itemNumber;

      const startSubjectTypesIndex = payload.itemNumber;

      let startSubjectsDayIndex = payload.dayName;
      let startTeachersDayIndex = payload.dayName;
      let startAuditoriesDayIndex = payload.dayName;
      let startSubjectTypesDayIndex = payload.dayName;

      if (startSubjectsIndex > 6) {
        startSubjectsDayIndex = startSubjectsDayIndex + Math.floor(startSubjectsIndex / 6);
        startSubjectsIndex %= 6;
      }
      if (startTeachersIndex > 6) {
        startTeachersDayIndex = startTeachersDayIndex + Math.floor(startTeachersIndex / 6);
        startTeachersIndex %= 6;
      }
      if (startAuditoriesIndex > 6) {
        startAuditoriesDayIndex = startAuditoriesDayIndex + Math.floor(startAuditoriesIndex / 6);
        startAuditoriesIndex %= 6;
      }

      for (let i = 0; i < scheduleItemsCopied.selectedSubjects.length; i++) {
        for (let j = 0; j < scheduleItemsCopied.selectedSubjects[i].length; j++) {
          const itemIndex = (startSubjectsIndex + i) % 6;
          let dayIndex = startSubjectsDayIndex + Math.floor((startSubjectsIndex + i) / 6);
          if (dayIndex === 0) {
            dayIndex = 6;
          } else {
            dayIndex -= 1;
          }

          const dayItem = groupsScheduleStore.data.selectedWeek.scheduleData[dayIndex];
          const scheduleItem = dayItem?.scheduleItems[itemIndex];
          const scheduleItemEl = scheduleItem?.scheduleItemData[payload.itemDataElIndex + j];

          if (scheduleItemEl) {
            scheduleItemEl.subject = scheduleItemsCopied.selectedSubjects[i][j].subject;
            scheduleItemEl.subjectInputValue = scheduleItemsCopied.selectedSubjects[i][j].subject?.name || '';
          }
        }
      }

      for (let i = 0; i < scheduleItemsCopied.selectedTeachers.length; i++) {
        for (let j = 0; j < scheduleItemsCopied.selectedTeachers[i].length; j++) {
          const itemIndex = (startTeachersIndex + i) % 6;
          let dayIndex = startTeachersDayIndex + Math.floor((startTeachersIndex + i) / 6);
          if (dayIndex === 0) {
            dayIndex = 6;
          } else {
            dayIndex -= 1;
          }

          const dayItem = groupsScheduleStore.data.selectedWeek.scheduleData[dayIndex];
          const scheduleItem = dayItem?.scheduleItems[itemIndex];
          const scheduleItemEl = scheduleItem?.scheduleItemData[payload.itemDataElIndex + j];

          if (scheduleItemEl) {
            scheduleItemEl.teacher = scheduleItemsCopied.selectedTeachers[i][j].teacher;
            scheduleItemEl.teacherInputValue = userToFullName(scheduleItemsCopied.selectedTeachers[i][j].teacher);
          }
        }
      }

      for (let i = 0; i < scheduleItemsCopied.selectedAuditories.length; i++) {
        for (let j = 0; j < scheduleItemsCopied.selectedAuditories[i].length; j++) {
          const itemIndex = (startAuditoriesIndex + i) % 6;
          let dayIndex = startAuditoriesDayIndex + Math.floor((startAuditoriesIndex + i) / 6);
          if (dayIndex === 0) {
            dayIndex = 6;
          } else {
            dayIndex -= 1;
          }

          const dayItem = groupsScheduleStore.data.selectedWeek.scheduleData[dayIndex];
          const scheduleItem = dayItem?.scheduleItems[itemIndex];
          const scheduleItemEl = scheduleItem?.scheduleItemData[payload.itemDataElIndex + j];

          if (scheduleItemEl) {
            scheduleItemEl.auditory = scheduleItemsCopied.selectedAuditories[i][j].auditory;
            scheduleItemEl.auditoryInputValue = scheduleItemsCopied.selectedAuditories[i][j].auditory?.name || '';
          }
        }
      }

      for (let i = 0; i < scheduleItemsCopied.selectedSubjectTypes.length; i++) {
        for (let j = 0; j < scheduleItemsCopied.selectedSubjectTypes[i].length; j++) {
          const itemIndex = (startSubjectTypesIndex + i) % 6;
          let dayIndex = startSubjectTypesDayIndex + Math.floor((startSubjectTypesIndex + i) / 6);
          if (dayIndex === 0) {
            dayIndex = 6;
          } else {
            dayIndex -= 1;
          }

          const dayItem = groupsScheduleStore.data.selectedWeek.scheduleData[dayIndex];
          const scheduleItem = dayItem?.scheduleItems[itemIndex];
          const scheduleItemEl = scheduleItem?.scheduleItemData[payload.itemDataElIndex + j];

          if (scheduleItemEl) {
            const type = scheduleItemsCopied.selectedSubjectTypes[i][j].type;
            scheduleItemEl.type = type;
            scheduleItemEl.subjectTypeInputValue = type ? subjectTypesMap[type] : null;
          }
        }
      }
    },
  },
  components: {
    PlusIcon,
    ScheduleDay,
  },
});
</script>

<style>
.schedule-week-table__table-wrapper {
  position: relative;
  width: 100%;
  user-select: none;
}
.schedule-week-table__table-caption {
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 24px;
}

.schedule-week-table__cell-group-heading {
  padding: 16px;
  color: #222;
  border: 3px solid var(--primary-highlight);
  font-size: 18px;
  line-height: 22px;
}
.schedule-week-table__cell-group-specialization-heading {
  padding: 8px;
  color: #222;
}

.schedule-week-table__cell-group-name-heading {
  position: sticky;
  top: -2px;
  z-index: 3;
  background: #fff;
  border-style: solid;
  border-color: var(--primary-highlight);
  box-shadow: 0 2px 0px var(--primary-highlight), 0 6px 4px 0px rgba(44, 44, 44, 0.6);
  border-left-width: 3px;
  box-sizing: border-box;
  border-bottom-width: 3px;
  border-top-width: 3px;
  border-right-width: 3px;
  /* padding: 8px; */
  font-weight: bold;
}

.schedule-table__table {
  width: 100%;
  box-shadow: 0 0 12px 4px rgba(44, 44, 44, 0.6);
}

.schedule-week-table__cell-group-name-heading-wrapper {
  padding: 8px;
}

.schedule-week-table__cell-add-group {
  background: #fff;
  box-shadow: 0 2px 0px var(--primary-highlight);
}

.schedule-week-table__cell-group-specialization-heading {
  border-color: var(--primary-highlight);
  border-style: solid;
  border-width: 3px;
}

.schedule-week-table__cell-group-name-heading:last-of-type {
  border-right: 3px solid var(--primary-highlight);
}

.schedule-week-table__cell-add-group {
  height: 64px;
  border: 3px solid var(--primary-highlight);
  width: 80px;
  vertical-align: middle;
  text-align: center;
}
.schedule-week-table__add-group-button {
  border: none;
  background: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary);
  transition-duration: 0.3s;
}
.schedule-week-table__actionable-cell {
  transition-duration: 0.3s;
  cursor: pointer;
}
.schedule-week-table__actionable-cell:hover,
.schedule-week-table__actionable-cell:focus {
  color: #fff;
  background: var(--primary);
}
.schedule-week-table__add-group-button:hover,
.schedule-week-table__add-group-button:focus {
  color: #fff;
  background: var(--primary);
}

.schedule-week-table__cell-gap {
  border: 3px solid var(--primary-highlight);
}

.schedule-week-table__cell-group-name-heading_highlighted {
  background: var(--primary-weakhightlight);
}
</style>
