<template>
  <div class="schedule-week__root-element">
    <div class="schedule-week__root-wrapper">
      <main role="main" class="schedule-week__root">
        <div class="schedule-week__sheet-root">
          <ScheduleWeekDatesSheet :showDates="showDates" />

          <ScheduleWeekSheetMain />
        </div>
        <AddGroupDialog />
      </main>
    </div>
  </div>
  <RightToolbar @saveSchedule="saveSchedule" :showDates="showDates" @toggleShowDates="toggleShowDate" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ScheduleWeekDatesSheet from './schedule-week-dates-sheet.vue';
import ScheduleWeekSheetMain from './schedule-sheet-main.vue';
import RightToolbar from './right-toolbar.vue';
import AddGroupDialog from './schedule-week.add-group-dialog.vue';
import { scheduleStore } from '../../../../data/stores/schedule-week';
import { scheduleWeekService } from '../../../../data/stores/schedule-week/schedule-week.service';

export default defineComponent({
  setup() {
    scheduleStore.getDates();
    const { saveSchedule } = scheduleWeekService;
    return {
      datesData: scheduleStore.datesStore,
      saveSchedule,
    };
  },
  data: () => ({ showDates: true }),
  components: {
    ScheduleWeekDatesSheet,
    ScheduleWeekSheetMain,
    RightToolbar,
    AddGroupDialog,
  },
  methods: {
    toggleShowDate() {
      this.showDates = !this.showDates;
    },
    handleKeybinding(e: KeyboardEvent) {
      if ((e.ctrlKey || e.metaKey) && e.code === 'KeyS') {
        e.preventDefault();
        this.saveSchedule();
      }
    },
  },
  mounted() {
    document.addEventListener('keydown', this.handleKeybinding);
  },
  beforeUnmount() {
    document.removeEventListener('keydown', this.handleKeybinding);
  },
});
</script>

<style>
.schedule-week__root {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: stretch;
  flex-grow: 1;
  flex-basis: auto;
  min-width: max-content;
  /* min-width: max-content; */
}

:root {
  --schedule-padding: 54px;
  --schedule-padding-top: 48px;
}

.schedule-week__root-wrapper {
  display: flex;
  flex-grow: 1;
  height: calc(100% - var(--schedule-padding) - var(--schedule-padding-top));
  /* width: 100%; */
  align-items: stretch;
  padding: var(--schedule-padding);
  padding-top: var(--schedule-padding-top);
  margin-right: 48px;
  box-shadow: inset 0 0 26px #000000;
}
.schedule-week__sheet-root {
  width: 100%;
  padding-right: 16px;
}
.schedule-week__root-element {
  flex-grow: 1;
}
</style>
