<template>
  <Dialog
    @close="toggleDialogVisibility"
    header="Оберіть групи, для яких буде скаладатися розклад"
    :opened="addGroupStore.isDialogOpen"
  >
    <ul>
      <li
        class="schedule-add-group__list-item"
        v-for="(groupItem, index) in addGroupStore.groupItems"
        :key="groupItem.itemKey"
      >
        <AppSelect
          :label="'Група #' + (index + 1)"
          :modelValue="groupItem.group?.id"
          :selectOptions="groupItem.selectGroups"
          :inputValue="groupItem.inputValue"
          disableLocalFiltering
          inputName="groupName"
          @inputChange="toggleGroupsFiltering(groupItem, $event.target.value)"
          @select="selectGroup(groupItem, $event)"
        >
          <template #default="{ option }">{{ option.name }}</template>
        </AppSelect>

        <IconButton
          @click="removeGroup(groupItem)"
          :title="'Видалити групу #' + (index + 1)"
          class="schedule-add-group__remove-group__button"
        >
          <TrashIcon />
        </IconButton>
      </li>
    </ul>

    <template #actions>
      <Button @click="saveGroupItems" title="Зберегти зміни груп" buttonType="button">Зберегти</Button>
    </template>
  </Dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Dialog from '../../../components/dialog.vue';
import AppSelect from '../../../components/select.vue';
import Button from '../../../components/button2.vue';
import IconButton from '../../../components/icon-button.vue';
import { VueComponent as TrashIcon } from '../../../../assets/icons/trash-can.svg';
import { scheduleAddGroupStore } from '../../../../data/stores/schedule-week/schedule-week-add-group.store';
import { IAddGroupListItem } from '../../../../common/interfaces/components/schedule-week';

export default defineComponent({
  setup() {
    const addGroupStore = scheduleAddGroupStore.data;
    scheduleAddGroupStore.setGroups();
    const { selectGroup, removeGroup, saveGroupItems, toggleDialogVisibility } = scheduleAddGroupStore;
    return {
      addGroupStore,
      selectGroup,
      removeGroup,
      saveGroupItems,
      toggleDialogVisibility,
    };
  },
  methods: {
    toggleGroupsFiltering(groupItem: IAddGroupListItem, inputValue: string) {
      groupItem.inputValue = inputValue;
      scheduleAddGroupStore.getGroupsForSelect(groupItem);
    },
  },
  components: {
    Dialog,
    AppSelect,
    Button,
    IconButton,
    TrashIcon,
  },
});
</script>

<style>
.schedule-add-group__list-item {
  display: flex;
  width: 100%;
  align-items: flex-end;
}
.schedule-add-group__remove-group__button {
  margin-left: 16px;
}

.schedule-add-group__list-item:last-of-type .schedule-add-group__remove-group__button {
  opacity: 0;
  pointer-events: none;
}
</style>
