<template>
  <transition name="fade">
    <section v-if="showDates" class="schedule-week__time-tabs__wrapper">
      <h1 class="schedule-week-dates__main-header">Обрання дат розкладу</h1>
      <ol class="schedule-week__tab-list-wrapper schedule-week__year-tabs">
        <li
          role="tab"
          class="schedule-week__year-header schedule-week__tab-list-item scheudle-week__tab-list-item_selected"
        >
          {{ datesData.selectedYear }}
        </li>
      </ol>

      <ol class="schedule-week__tab-list-wrapper schedule-week__year-semester-tabs">
        <li
          role="tab"
          v-for="semester in datesData.selectedSemesters"
          class="schedule-week__tab-list-item schedule-week__semester-tab"
          tabindex="0"
          @click="doChoseSemester(semester)"
          @keydown.enter="doChoseSemester(semester)"
          :class="{ 'scheudle-week__tab-list-item_selected': isChoosen(semester) }"
          :key="semester.id"
        >
          {{ semester.semesterNumber }} Семестер
        </li>
        <!-- <li role="tab" class="schedule-week__tab-list-item schedule-week__semester-tab">2 семестер</li> -->
      </ol>

      <ol class="schedule-week__tab-list-wrapper schedule-week__year-month-tabs">
        <li
          v-for="month in datesData.selectedMonths"
          class="schedule-week__tab-list-item"
          tabindex="0"
          @click="doChooseMonth(month)"
          @keydown.enter="doChooseMonth(month)"
          :class="{ 'scheudle-week__tab-list-item_selected': isMonthChoosen(month) }"
          :key="month.id"
          role="tab"
        >
          {{ getMonthName(month) }}
        </li>
      </ol>

      <ol
        class="schedule-week__tab-list-wrapper schedule-week__weeks-tabs"
        :style="{
          gridTemplateColumns: getWeeksGridString(),
        }"
      >
        <li
          role="tab"
          v-for="week of datesData.selectedWeeks"
          class="schedule-week__tab-list-item"
          :title="'Тиждень ' + week.weekNumber"
          tabindex="0"
          @click="doChooseWeek(week)"
          @keydown.enter="doChooseWeek(week)"
          :class="{
            'scheudle-week__tab-list-item_selected': isWeekChoosen(week),
          }"
          :key="week.id"
        >
          {{ week.weekNumber }}
        </li>
      </ol>
    </section>
  </transition>
</template>

<script lang="ts">
import { monthsMapUa } from '@rozcloud/shared/constants';
import { IMonthInverted, ISemesterInverted, IWeekInverted } from '@rozcloud/shared/interfaces';
import { defineComponent } from 'vue';
import { scheduleStore } from '../../../../data/stores/schedule-week';

export default defineComponent({
  setup() {
    const { doChoseSemester, doChooseMonth, doChooseWeek } = scheduleStore;
    return { datesData: scheduleStore.datesStore, doChoseSemester, doChooseMonth, doChooseWeek };
  },
  props: {
    showDates: {
      type: Boolean,
    },
  },
  methods: {
    isChoosen(semester: ISemesterInverted) {
      return semester.id === scheduleStore.datesStore.chosenSemester?.id;
    },
    isMonthChoosen(month: IMonthInverted) {
      return month.id === scheduleStore.datesStore.chosenMonth?.id;
    },
    isWeekChoosen(week: IWeekInverted) {
      return week.id === scheduleStore.datesStore.chosenWeek?.id;
    },
    getMonthName(month: IMonthInverted) {
      return monthsMapUa[month.monthNumber];
    },
    getWeeksGridString() {
      return this.datesData.selectedWeeks.map(() => '1fr').join(' ');
    },
  },
});
</script>

<style>
.schedule-week__time-tabs__wrapper {
  display: grid;
  grid-template-columns: 100%;
  margin-bottom: 24px;
}
.schedule-week-dates__main-header {
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 14px;
  text-align: center;
}
.schedule-week__tab-list-wrapper {
  display: grid;
  align-items: center;
  width: 100%;
}
.schedule-week__year-semester-tabs {
  grid-template-columns: 1fr 1fr;
}

.schedule-week__tab-list-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 8px;
  border: 1px solid var(--primary);
  background: var(--primary-weak);
  color: #222;
  cursor: pointer;
  position: relative;
  transition-duration: 0.2s;
}

.schedule-week__tab-list-item:hover {
  background: var(--primary-highlight);
  color: #fff;
  /* background: var(--primary-weakhightlight); */
  transform: scale(1.015);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.schedule-week__year-month-tabs {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.scheudle-week__tab-list-item_selected {
  background: var(--primary-highlight);
  color: #fff;
  border-color: #fff;
}
.scheudle-week__tab-list-item_selected:hover {
  /* background: var(--); */
}
.schedule-week__year-grid {
  grid-template-columns: 1fr;
}

.schedule-week__year-header {
  text-transform: uppercase;
}
</style>
