<template>
  <div class="main-content__wrapper">
    <StructuresItems
      :activeFolderId="departmentsState.activeDepartmentId"
      @selectFolder="selectFolder($event)"
      :items="departmentsState.departments"
    >
      <template #header>
        <h2 class="structures-items__header">Кафедри</h2>
      </template>
      <CreateStructureItem :isActive="departmentsState.creatingDepartment" @selectFolder="selectCreateFolder()" />
    </StructuresItems>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import StructuresItems from '../../../containers/structure-control-main/structures-items.vue';
import CreateStructureItem from '../../../containers/structure-control-main/create-structure-item.vue';
import { useFacultyId } from '../../../../common/helpers/route.helpers';
import { departmentsStore } from '../../../../data/stores/departments/departments.store';
import { editedDepartmentStore } from '../../../../data/stores/departments/edited-department.store';

export default defineComponent({
  setup() {
    const facultyId = useFacultyId();

    editedDepartmentStore.setFacultyId(facultyId);
    departmentsStore.getByFaculty();
    return {
      departmentsState: departmentsStore.getState(),
    };
  },
  methods: {
    async selectFolder(structureId: string) {
      departmentsStore.setActiveDepartment(structureId);
    },
    selectCreateFolder() {
      departmentsStore.setCreatingDepartment();
    },
  },
  beforeUnmount() {
    const facultyId = useFacultyId();
    editedDepartmentStore.setNullishValues(facultyId);
    this.departmentsState.activeDepartmentId = null;
    this.departmentsState.creatingDepartment = false;
  },
  components: {
    StructuresItems,
    CreateStructureItem,
  },
});
</script>
