<template>
  <template v-if="departmentsState.activeDepartmentId || departmentsState.creatingDepartment">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ departmentHeader }}</h2>
      <ActionsToolbar v-if="state.id">
        <ToolbarAction @selectOption="showAcademicGroups()">Показати академічні групи</ToolbarAction>
        <ToolbarAction @selectOption="showEmployees()">Показати робітників</ToolbarAction>
        <ToolbarAction @selectOption="showSubjects()">Показати навчальні дисципліни</ToolbarAction>
        <ToolbarAction @selectOption="showTeachers()">Показати викладачів</ToolbarAction>
        <ToolbarAction>Показати детальну інформацію</ToolbarAction>
      </ActionsToolbar>
    </div>

    <form class="right-sidebar__form" @submit.prevent="saveDepartment()" autocomplete="off">
      <ImageInput v-model="state.image" :imageUrl="state.logo" inputName="facultyLogo" />

      <TextInput
        required
        v-model="state.name"
        label="Назва"
        inputName="facultyName"
        class="right-sidebar__first-input"
      />

      <TextInput v-model="state.abbreviation" label="Аббревіатура" inputName="abbrreviation" />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ actionDepartmentButton }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppSeparator from '../../../components/separator.vue';
import ImageInput from '../../../components/image-input.vue';
import TextInput from '../../../components/text-input2.vue';
import AppButton from '../../../components/button2.vue';
import ActionsToolbar from '../../../containers/actions-toolbar/actions-toolbar.vue';
import ToolbarAction from '../../../containers/actions-toolbar/action-option.vue';
import { higherEducationTypes } from '../../../../common/constants';
import { departmentsStore } from '../../../../data/stores/departments/departments.store';
import { useFacultyId } from '../../../../common/helpers/route.helpers';
import { editedDepartmentStore } from '../../../../data/stores/departments/edited-department.store';

export default defineComponent({
  setup() {
    const facultyId = useFacultyId();
    editedDepartmentStore.setNullishValues(facultyId);
    const state = editedDepartmentStore.getState();
    const departmentsState = departmentsStore.getState();
    return {
      state,
      departmentsState,
    };
  },
  methods: {
    saveDepartment() {
      if (!this.state.id) {
        departmentsStore.createDepartment(this.state);
      }
      if (this.state.id) {
        departmentsStore.updateDepartment(this.state.id, this.state);
      }
    },
    showEmployees() {
      const departmentId = this.state?.id;
      if (departmentId) {
        this.$router.push(`/structures/users/${departmentId}/employees`);
      }
    },
    showTeachers() {
      const universityId = this.$route.params.universityId;
      const facultyId = this.$route.params.facultyId;
      const departmentId = this.state?.id;
      if (departmentId) {
        this.$router.push(
          `/structures/universities/${universityId}/faculties/${facultyId}/departments/${departmentId}/teachers`
        );
      }
    },
    showSubjects() {
      const universityId = this.$route.params.universityId;
      const facultyId = this.$route.params.facultyId;
      const departmentId = this.state?.id;
      if (departmentId) {
        this.$router.push(
          `/structures/universities/${universityId}/faculties/${facultyId}/departments/${departmentId}/subjects`
        );
      }
    },
    showAcademicGroups() {
      const universityId = this.$route.params.universityId;
      const facultyId = this.$route.params.facultyId;
      const departmentId = this.state?.id;
      if (departmentId) {
        this.$router.push(
          `/structures/universities/${universityId}/faculties/${facultyId}/departments/${departmentId}/groups`
        );
      }
    },
  },
  computed: {
    departmentHeader() {
      if (this.state.id) {
        return 'Дані кафедри';
      }
      return 'Створити кафедру';
    },
    actionDepartmentButton() {
      if (this.state.id) {
        return 'Змінити дані';
      }
      return 'Створити кафедру';
    },
  },
  higherEducationTypes,
  components: {
    ImageInput,
    TextInput,
    AppSeparator,
    ActionsToolbar,
    ToolbarAction,
    AppButton,
  },
});
</script>
