<template>
  <aside class="left-sidebar">
    <div class="left-sidebar__logo-wrapper">
      <a>
        <LogoSmal />
      </a>
    </div>

    <nav class="left-sidebar__nav">
      <LeftSideBarItem name="Структури" link="/structures">
        <template #icon>
          <StructureIcon />
        </template>
      </LeftSideBarItem>

      <LeftSideBarItem name="Учбові плани" link="/schedule">
        <template #icon>
          <PlanIcon />
        </template>
      </LeftSideBarItem>
    </nav>
  </aside>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import LeftSideBarItem from '../../containers/left-sidebar/left-sidebar-list-item.vue';
import { VueComponent as StructureIcon } from '../../../assets/icons/structure-icon.svg';
import { VueComponent as PlanIcon } from '../../../assets/icons/plan-icon.svg';
import { VueComponent as LogoSmal } from '../../../assets/icons/logo-small.svg';

export default defineComponent({
  name: 'LeftSidebar',
  props: {},
  components: {
    LeftSideBarItem,
    StructureIcon,
    PlanIcon,
    LogoSmal,
  },
});
</script>

<style>
.left-sidebar {
  width: 142px;
  min-width: 142px;
}

.left-sidebar__logo-wrapper {
  background: #8cb5f2;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-sidebar__nav {
}

.left-sidebar__items {
  margin: 0;
}
</style>
