<template>
  <li class="left-sidebar__list-item">
    <router-link class="left-sidebar__item-link" active-class="left-sidebar__item-link_active" :to="link">
      <span class="left-sidebar__item-icon">
        <slot name="icon" />
      </span>

      <span class="left-sidebar__item-title">{{ name }}</span>
    </router-link>
  </li>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    name: {
      type: String,
    },
    link: {
      type: String,
    },
  },
});
</script>

<style>
.left-sidebar__list-item {
  height: 28px;
  list-style: none;
  display: flex;
  width: 100%;
  transition-duration: 0.3s;
}

.left-sidebar__item-link:hover,
.left-sidebar__item-link:focus {
  background: rgba(140, 181, 242, 0.25);
}

.left-sidebar__item-link {
  color: #787878;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 12px;
  padding-right: 8px;
}

.left-sidebar__item-link_active {
  font-weight: bold;
  position: relative;
  overflow: visible;
  background: rgba(140, 181, 242, 0.1);
}

.left-sidebar__item-icon {
  margin-right: 12px;
  height: 13px;
}

.left-sidebar__item-title {
  font-size: 11px;
  line-height: 13px;
}

.left-sidebar__item-link_active::before {
  content: '';
  position: absolute;
  left: -5px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background: #8cb5f2;
}
</style>
