<template>
  <LeftSidebar />

  <MainContent>
    <router-view v-slot="{ Component }" name="main-content">
      <transition name="slide-fade" mode="out-in">
        <component :is="Component" />
      </transition>
    </router-view>
  </MainContent>

  <RightSidebar>
    <router-view name="right-sidebar"></router-view>
  </RightSidebar>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import LeftSidebar from '../../containers/left-sidebar/left-sidebar.vue';
import MainContent from '../../containers/structure-control-main/structure-control-content.vue';
import RightSidebar from '../../containers/right-sidebar/right-sidebar.vue';

export default defineComponent({
  components: {
    LeftSidebar,
    MainContent,
    RightSidebar,
  },
  methods: {},
});
</script>
