<template>
  <ol class="structures-control__breadcrums">
    <li class="structures-control__app-breadcrumb">
      <router-link title="Перейти на сторінку університета" class="structures-control__breadcrumb-link" to="/structures"
        >Університет <ArrowRight class="breadcrumb-icon__next"
      /></router-link>
    </li>
    <li class="structures-control__app-breadcrumb">
      <router-link title="Перейти на сторінку факультета" class="structures-control__breadcrumb-link" to="/structures"
        >Факультет <ArrowRight class="breadcrumb-icon__next"
      /></router-link>
    </li>
  </ol>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { VueComponent as ArrowRight } from '../../assets/icons/icon-arrow-right.svg';

export default defineComponent({
  setup() {},
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
  components: {
    ArrowRight,
  },
});
</script>

<style>
.structures-control__breadcrums {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.structures-control__app-breadcrumb {
  margin-right: 8px;
}
.structures-control__breadcrumb-link {
  display: flex;
  align-items: center;
  color: var(--primary-highlight);
  height: max-content;
  text-decoration: none;
}
.structures-control__breadcrumb-link:hover,
.structures-control__breadcrumb-link:focus {
  text-decoration: underline;
  color: var(--primary);
}
.breadcrumb-icon__next {
  margin-left: 4px;
  position: relative;
  transform: translateY(16%);
}
</style>
