<template>
  <button :type="buttonType" class="app-internal__button">
    <slot></slot>
  </button>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  props: {
    buttonType: {
      type: String as PropType<'button' | 'submit' | 'reset'>,
      default: 'submit',
    },
  },
});
</script>

<style>
.app-internal__button {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 9px;
  border: none;
  height: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;

  color: var(--primary);
  font-size: 14px;
  line-height: 17px;
  font-weight: bold;
  padding-right: 12px;
  padding-left: 12px;
}

.app-internal__button:hover,
.app-internal__button:focus {
  transform: scale(1.03);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
</style>
