<template>
  <button :type="buttonType" class="app-button">
    <slot></slot>
  </button>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  name: 'AppButton',
  props: {
    buttonType: {
      type: String as PropType<'button' | 'submit' | 'reset'>,
      default: 'button',
    },
  },
});
</script>

<style>
.app-button {
  height: 46px;
  width: 190px;
  filter: drop-shadow(4px 4px 8px rgba(37, 66, 122, 0.25)), drop-shadow(-4px -4px 8px rgba(170, 235, 255, 0.25));

  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.05em;

  color: #f9f9f9;
  background: #8cb5f2;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  border-radius: 227px;

  cursor: pointer;
  padding: 0;
}

.app-button:hover {
  background: #9dc6f3;
}
</style>
