<template>
  <teleport v-if="opened" to="body">
    <transition name="fade">
      <div @click="$emit('close')" class="app__dialog-overlay">
        <dialog @click.stop class="app-dialog__element" open>
          <header class="app-dialog__header">
            <h2 class="app-dialog__heading">{{ header }}</h2>
            <IconButton @click="$emit('close')" v-autofocus>
              <CloseIcon width="16" height="16"></CloseIcon>
            </IconButton>
          </header>
          <section class="app-dialog__content">
            <slot></slot>
          </section>

          <footer class="app-dialog__actions">
            <div class="app-dialog__actions-button-wrapper">
              <slot name="actions"></slot>
            </div>
          </footer>

          <Loader v-if="isLoading" />
        </dialog>
      </div>
    </transition>
  </teleport>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import IconButton from './icon-button.vue';
import Loader from './loader.vue';
import { VueComponent as CloseIcon } from '../../assets/icons/close-icon.svg';
import { autofocus } from '../directives/autofocus.directive';

export default defineComponent({
  emits: ['close'],
  props: {
    opened: {
      type: Boolean,
      default: false,
    },
    header: {
      type: String,
      default: '',
    },
    isLoading: {
      type: Boolean,
      defautl: false,
    },
  },
  components: {
    IconButton,
    CloseIcon,
    Loader,
  },
  directives: {
    autofocus,
  },
});
</script>

<style>
.app__dialog-overlay {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  background: rgba(32, 32, 32, 0.25);
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  will-change: transform;
  max-height: 100vh;
  z-index: 3;
}
.app-dialog__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #fff;
}
.app-dialog__element {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 320px;
  min-height: 160px;
  background: var(--primary);
  padding: 16px;
  border: none;
  border-radius: 5px;
  color: #fff;
  /* margin-bottom: 20%; */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  overflow: auto;
  max-height: 85vh;
}
.app-dialog__heading {
  font-size: 20px;
  padding-top: 8px;
  text-shadow: #666 3px 0 8px;
}
.app-dialog__content {
  padding-top: 24px;
  padding-bottom: 24px;
}
.app-dialog__actions {
  display: flex;
  width: 100%;
  border-top: 1px solid #fff;
  padding-top: 16px;
  justify-content: flex-end;
}
.app-dialog__actions-button-wrapper {
  display: flex;
  width: min-content;
}
</style>
