<template>
  <button class="app-icon-button">
    <slot></slot>
  </button>
</template>

<style>
.app-icon-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
  background: #fff;
  border-radius: 5px;
  height: 30px;
  width: 46px;
  border: 1px solid #fff;
  cursor: pointer;
  transition-duration: 0.2s;
  margin-bottom: 8px;
}
.app-icon-button:hover,
.app-icon-button:focus {
  border: 1px solid #fff;
  background: var(--primary-highlight);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  color: #fff;
}
</style>
