<template>
  <img
    :src="!isInvalid ? src || undefined : fallback"
    @error="handleError()"
    class="app-image"
    :class="{ 'app-image__circle': shape === 'circle' }"
  />
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { fallbackImageUrl } from '../../common/constants';

export default defineComponent({
  data: () => ({ isInvalid: false }),
  props: {
    src: {
      type: String as PropType<string | null>,
      default: null,
    },
    fallback: {
      type: String,
      default: fallbackImageUrl,
    },
    shape: {
      type: String,
      required: false,
    },
  },
  methods: {
    handleError() {
      this.isInvalid = true;
    },
  },
});
</script>

<style>
.app-image {
  background: #747474;
}
.app-image__circle {
  border-radius: 100%;
}
</style>
