<template>
  <div tabindex="0" @keydown.enter="openImageSelect()" class="image-input__layer" @click="openImageSelect()">
    <div class="image-input__image-wrapper">
      <img class="image-input__image" v-if="!!imageFileUrl" :src="imageFileUrl" />
    </div>
    <CameraIcon class="image-input__camera-icon" />
  </div>
  <input
    :name="inputName"
    class="image-input__input"
    ref="fileInput"
    @change="changeFile()"
    type="file"
    accept="image/*"
  />
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { VueComponent as CameraIcon } from '../../assets/icons/camera-icon.svg';

export default defineComponent({
  props: {
    modelValue: {
      type: Object as PropType<File | null | undefined>,
      required: false,
    },
    imageUrl: {
      type: String as PropType<string | null | undefined>,
      required: false,
    },
    inputName: {
      type: String,
      required: false,
    },
  },
  emits: {
    'update:modelValue': null,
  },
  methods: {
    openImageSelect() {
      (this.$refs.fileInput as HTMLInputElement).click();
    },
    changeFile() {
      if ((this.$refs.fileInput as HTMLInputElement).files?.[0]) {
        const formInput = this.$refs.fileInput as HTMLInputElement;
        const imageFile = formInput.files?.[0];
        this.$emit('update:modelValue', imageFile);
      }
    },
  },
  computed: {
    imageFileUrl(): string | null {
      if (this.modelValue) {
        const imageFile = this.modelValue;
        const imageUrl = URL.createObjectURL(imageFile);
        return imageUrl;
      }
      if (this.imageUrl) {
        return this.imageUrl;
      }
      return null;
    },
  },
  components: {
    CameraIcon,
  },
});
</script>

<style>
.image-input__input {
  visibility: hidden;
  width: 0.1px;
  height: 0.1px;
}

.image-input__layer {
  width: 228px;
  height: 228px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 48.44%);
  transition-duration: 0.2s;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.05));
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-input__layer:hover,
.image-input__layer:focus {
  transform: scale(1.015);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.image-input__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #fff;
  width: 156px;
  height: 156px;
}

.image-input__image {
  overflow: hidden;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  border: none;
}

.image-input__camera-icon {
  position: absolute;
  bottom: 4px;
}
</style>
