<template>
  <div class="right-sidebar__basic-input">
    <label :for="$options.inputId" class="right-sidebar__label">{{ label }}</label>
    <div
      ref="selectWrapper"
      :class="{ 'multiselect-wrapper__focused': isExpanded, select_expanded__top: isCloserToTop }"
      class="multiselect-wrapper"
    >
      <Tag
        v-for="(selectedOption, index) in selectedOptions"
        @tagClose="removeOption(selectedOption, index)"
        :label="selectedOption.label"
        :key="selectedOption.value"
      />
      <div class="multiselect__input-wrapper" @focusout="hide()" @focusin="show()">
        <input
          :id="$options.inputId"
          :name="inputName"
          ref="multiselectInput"
          v-model="inputValue"
          class="select-input right-sidebar__multiselect-input"
        />

        <button type="button" class="select__expand-icon-wrapper" @click="show()">
          <ExpandIcon class="select__expand-icon" :class="{ 'select_expanded__expand-icon': isExpanded }" />
        </button>

        <transition name="fade">
          <ul class="select-options" :class="{ 'select-options__top': isCloserToTop }" v-if="isExpanded">
            <li v-for="option in filteredOptions" :key="option.value" class="select-option multiselect-option">
              <label tabindex="0" @keypress.enter="selectOption(option)" class="app-multiselect__option-label">
                <input
                  @change="selectOption(option)"
                  v-model="option.selected"
                  tabindex="-1"
                  class="app-multiselect__option-checkbox"
                  type="checkbox"
                />
                {{ option.label }}
              </label>
            </li>
          </ul>
        </transition>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { generateNanoid } from '../../common/helpers/text';
import { VueComponent as ExpandIcon } from '../../assets/icons/expand-icon.svg';
import { SelectOption } from '../../common/interfaces/components';
import Tag from './tag.vue';

export default defineComponent({
  props: {
    selectOptions: {
      type: Array as PropType<SelectOption[]>,
      default: () => [],
    },
    label: String,
    modelValue: Array as PropType<Array<string>>,
    inputName: String,
  },
  created: function () {
    this.$options.inputId = generateNanoid();
  },
  data: () => ({
    isExpanded: false,
    isCloserToTop: false,
    timer: null as null | number,
    inputValue: null as string | null,
  }),
  computed: {
    optionsSelecting(): (SelectOption & { selected: boolean })[] {
      const selectOptions = this.selectOptions;
      if (!selectOptions) {
        return [];
      }
      const options = selectOptions.map((option) => ({
        ...option,
        selected: this.modelValue?.includes(option.value) || false,
      }));
      return options;
    },
    filteredOptions(): (SelectOption & { selected: boolean })[] {
      const options = this.optionsSelecting;
      const inputValue = this.inputValue;
      if (typeof inputValue !== 'string') {
        return this.optionsSelecting;
      }
      const filteredOptions = options.filter((option) =>
        option.label?.toLocaleLowerCase().includes(inputValue!.toLocaleLowerCase())
      );
      return filteredOptions;
    },
    selectedOptions(): (SelectOption & { selected: boolean })[] {
      const selectOptions = this.optionsSelecting;
      const selectedOptions = selectOptions.filter((option) => option.selected);
      return selectedOptions;
    },
  },
  methods: {
    show() {
      if (this.timer) {
        clearTimeout(this.timer);
      }
      this.isExpanded = true;

      const el = this.$refs.selectWrapper as HTMLDivElement;
      const offsetTop = el.getBoundingClientRect().y;
      if (window.innerHeight - offsetTop > offsetTop) {
        this.isCloserToTop = false;
      } else {
        this.isCloserToTop = true;
      }
    },
    hide: function () {
      this.timer = setTimeout(() => {
        this.isExpanded = false;
      });
    },
    selectOption: function (option: SelectOption) {
      const isValueSelected = this.modelValue?.includes(option.value);
      if (this.modelValue && !isValueSelected) {
        const newValue = [...this.modelValue, option.value];
        this.$emit('update:modelValue', newValue);
      }
      if (this.modelValue && isValueSelected) {
        const newValue = this.modelValue.filter((val) => val !== option.value);
        this.$emit('update:modelValue', newValue);
      }
    },
    removeOption(option: SelectOption, index: number) {
      const isValueSelected = this.modelValue?.includes(option.value);
      if (isValueSelected) {
        const newValue = this.modelValue!.filter((val) => val !== option.value);
        this.$emit('update:modelValue', newValue);
      }

      const div = this.$refs.selectWrapper as HTMLDivElement;
      let elToFocus: HTMLDivElement | null = div.querySelector(`:nth-child(${index})`);
      if (index === 0) {
        elToFocus = div.querySelector(`:nth-child(${2})`);
      }
      if (elToFocus) {
        elToFocus.focus();
      }
      if (!elToFocus) {
        const searchInput = this.$refs.multiselectInput as HTMLInputElement;
        searchInput.focus();
      }
    },
  },
  components: {
    ExpandIcon,
    Tag,
  },
});
</script>

<style>
.multiselect-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #fff;
  transition-duration: 0.2s;
  border-radius: 9px;
  max-height: 300px;
  color: #787878;
  font-size: 11px;
  line-height: 13px;
  /* overflow: auto; */
  /* box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.4); */
}

.multiselect__input-wrapper {
  display: inline-flex;
  align-items: center;
  border-radius: inherit;
  width: min-content;
  flex-grow: 1;
}

.multiselect-wrapper__focused,
.multiselect-wrapper:hover {
  transform: scale(1.015);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.select_expanded__top.multiselect-wrapper__focused {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.app-multiselect__option-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  height: 100%;
}

.multiselect-option {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0;
}

.app-multiselect__option-checkbox {
  margin-right: 8px;
  cursor: pointer;
}

.right-sidebar__multiselect-input {
  border: none;
  border-radius: inherit;
  flex-grow: 1;
  width: 100%;
}
.app-tag__wrapper + .multiselect__input-wrapper {
  margin-left: 4px;
}
</style>
