<template>
  <div class="search-wrapper">
    <input placeholder="Пошук" class="search-field" />
    <button type="button" class="search-wrapper__search-button">
      <SearchIcon class="search-wrapper__search-icon" />
    </button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { VueComponent as SearchIcon } from '../../assets/icons/search-icon.svg';

export default defineComponent({
  components: {
    SearchIcon,
  },
});
</script>

<style>
.search-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  border: 1px solid var(--primary);
  box-sizing: content-box;
  border-radius: 25px;
  width: min-content;
}

.search-field {
  border: none;
  border-radius: 25px;
  width: 178px;
  height: 24px;
  font-size: 10px;
  line-height: 12px;
  color: #8cb5f2;
  padding-left: 8px;
  box-sizing: border-box;
}

.search-wrapper__search-button {
  position: absolute;
  right: 4px;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #8cb5f2;
  border: none;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.search-wrapper__search-icon {
  /* width: 18px; */
  /* height: 18px; */
}
</style>
