<template>
  <div class="right-sidebar__basic-input">
    <label :for="inputId" class="right-sidebar__label"
      >{{ label }} <span class="app-input__required-sign" v-if="required">*</span></label
    >
    <div ref="selectWrapper" class="select-wrapper" @focusout="hide()" @focusin="show()">
      <input
        :id="inputId"
        :name="inputName"
        class="select-input right-sidebar__input-base"
        :value="selectedOption?.label || inputValue"
        @input="filterOptions($event)"
        autocomplete="off"
        :class="{
          select_expanded__input: isExpanded,
          select_expanded__top: isCloserToTop,
        }"
      />
      <button type="button" class="select__expand-icon-wrapper" @click="show()">
        <ExpandIcon tabindex="0" class="select__expand-icon" :class="{ 'select_expanded__expand-icon': isExpanded }" />
      </button>
      <transition name="fade">
        <ul class="select-options" :class="{ 'select-options__top': isCloserToTop }" v-if="isExpanded">
          <li
            v-for="option in filteredOptions || selectOptions"
            :key="option.value || option.id"
            tabindex="0"
            @keydown.enter="selectOption(option)"
            @click="selectOption(option)"
            class="select-option"
          >
            <slot v-bind:option="option">
              {{ option.label }}
            </slot>
          </li>
        </ul>
      </transition>
    </div>
  </div>
</template>

<script lang="ts">
/* eslint-disable @typescript-eslint/no-explicit-any */
import { defineComponent, PropType } from 'vue';
import { generateNanoid } from '../../common/helpers/text';
import { VueComponent as ExpandIcon } from '../../assets/icons/expand-icon.svg';
import { SelectOption } from '../../common/interfaces/components';

export default defineComponent({
  props: {
    selectOptions: {
      type: Array as PropType<SelectOption[] | any[]>,
      default: () => [],
    },
    label: String,
    modelValue: {
      type: [String, Number] as PropType<string | number | null | undefined>,
      required: false,
    },
    inputName: String,
    disableLocalFiltering: {
      type: Boolean,
      default: false,
    },
    inputDisabled: {
      type: Boolean,
      required: false,
    },
    required: {
      type: Boolean,
      required: false,
    },
    inputValue: {
      type: String,
      default: '',
    },
  },
  data: () => ({
    isExpanded: false,
    isCloserToTop: false,
    filteredOptions: null as SelectOption[] | any[] | null,
    timer: null as null | number,
    inputId: generateNanoid(),
  }),
  computed: {
    selectedOption(): SelectOption | any | undefined {
      const options = this.selectOptions;
      const value = this.modelValue;
      const selectedOption = options?.find(option => (option as SelectOption)?.value === value);
      return selectedOption;
    },
  },
  emits: ['shown', 'update:modelValue', 'inputChange', 'select'],
  methods: {
    show() {
      if (this.timer) {
        clearTimeout(this.timer);
      }
      this.isExpanded = true;

      const el = this.$refs.selectWrapper as HTMLDivElement;
      const offsetTop = el.getBoundingClientRect().y;
      if (window.innerHeight - offsetTop > offsetTop) {
        this.isCloserToTop = false;
      } else {
        this.isCloserToTop = true;
      }
      this.$emit('shown');
    },
    hide: function() {
      this.timer = setTimeout(() => {
        this.isExpanded = false;
      });
    },
    selectOption: function(option: SelectOption | any) {
      this.hide();
      this.filteredOptions = this.selectOptions;
      this.$emit('select', option);
      if (typeof option === 'object') {
        this.$emit('update:modelValue', (option as SelectOption).value);
      }
    },
    filterOptions(e: Event): SelectOption[] | any[] | null {
      if (this.disableLocalFiltering) {
        this.$emit('inputChange', e);
        return null;
      }

      const options = this.selectOptions;
      const target = e.target as HTMLInputElement;
      const value = target.value;
      if (typeof value !== 'string') {
        return [];
      }
      const filteredOptions = options.filter(option =>
        (option as Record<string, string>)?.label?.toLocaleLowerCase()?.includes(value.toLocaleLowerCase())
      );
      this.filteredOptions = filteredOptions || null;
      return filteredOptions;
    },
  },
  components: {
    ExpandIcon,
  },
});
</script>

<style>
.select-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.select-input {
  width: 100%;
  height: 28px;
  color: #787878;
  padding-left: 8px;
}

.select__expand-icon {
  transition-duration: 0.35s;
}

.select__expand-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  position: absolute;
  right: 1.5%;
  height: 24px;
  background: transparent;
  cursor: pointer;
  pointer-events: none;
}

.select-options {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
  transition-duration: 0.2s;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  transition-duration: 0.2s;
  max-height: 300px;
  color: #787878;
  font-size: 11px;
  line-height: 13px;
  box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.select-options:empty {
  display: none;
}

.select-options__top {
  flex-direction: column-reverse;
  top: initial;
  bottom: calc(100% + 3px);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.select-option {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
  border-bottom: 1px solid rgba(140, 181, 242, 0.7);
}

.select-option:hover,
.select-option:focus {
  background: rgba(140, 181, 242, 0.25);
}

.select_expanded__expand-icon {
  transform: scale(-1);
}

.select_expanded__input.select_expanded__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.select_expanded__input.select_expanded__top.select_expanded__top {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.select-input:hover ~ .select-options,
.select-input:focus ~ .select-options {
  transform: scale(1.005);
}
</style>
