<template>
  <hr class="app-separator__element" />
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  setup() {},
});
</script>

<style>
.app-separator__element {
  height: 0;
  width: 100%;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid #fff;
}
</style>
