<template>
  <div class="entities-table__heading-wrapper">
    <h2 class="entities-table__header">{{ header }}</h2>
    <AppSearch />
  </div>
  <table class="entities-table">
    <slot></slot>
  </table>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppSearch from './search.vue';

export default defineComponent({
  components: {
    AppSearch,
  },
  props: {
    header: String,
  },
});
</script>

<style>
.entities-table {
  width: 100%;
}

.entities-table__row {
  cursor: pointer;
  transition-duration: 0.2s;
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
}

.entities-table__row:hover,
.entities-table__row:focus {
  background: rgba(116, 116, 116, 0.2);
}

.entities-table__heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid #787878;
  padding-bottom: 4px;
  margin-bottom: 4px;
}

.entities-table__header {
  color: #787878;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}

.entities-table__add-circle {
  width: 29px;
  height: 29px;
  transition-duration: 0.2s;
  background: #fff;
  border: 1px solid var(--primary);
  color: var(--primary);
  cursor: pointer;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.entities-table__row:hover .entities-table__add-circle,
.entities-table__row:focus .entities-table__add-circle {
  color: #fff;
  background: var(--primary);
}

.entities-table__highlight-text {
  font-weight: bold;
  font-size: 11px;
  line-height: 13px;
  color: var(--primary);
  transition-duration: 0.2s;
}

.entities-table__row:hover .entities-table__highlight-text,
.entities-table__row:focus .entities-table__highlight-text {
  color: var(--primary-highlight);
}

.structure-control__entity-image {
  width: 29px;
  height: 29px;
  margin-right: 8px;
}

.table-cell__avatar-width.table-cell__avatar-width {
  width: 15px;
  padding-right: 0;
}

.structure-control__entity-image .structure-control__entity-image {
  margin-right: 0;
}

.entities-table__vertical-aligned {
  vertical-align: middle;
}

.entities-table__padded {
  padding: 8px;
}

.entities-table__main-data-text {
  font-size: 11px;
  color: #787878;
  font-weight: bold;
  line-height: 13px;
}

.entities-table__secondary-data-text {
  font-size: 11px;
  line-height: 13px;
  color: #787878;
}

.entities-table__flex-wrapper {
  display: flex;
  align-items: center;
}

.entities-table__link {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-highlight);
  font-weight: bold;
}

.entities-table__link:hover,
.entities-table__link:focus {
  text-decoration: underline;
}
</style>
