<template>
  <div :title="label" class="app-tag__wrapper" tabindex="0" @focus="emitActivated()">
    <span class="app-tag__label">{{ label }}</span>
    <button @click="emitClose()" title="Видалити мітку" class="app-tag__button" type="button"></button>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {
    label: String,
  },
  emits: ['tagClose', 'tagActivate'],
  methods: {
    emitClose() {
      this.$emit('tagClose');
    },
    emitActivated() {
      this.$emit('tagActivate');
    },
  },
});
</script>

<style>
.app-tag__wrapper {
  background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  padding: 3.5px 4px;
  margin-left: 4px;
  /* margin-right: 2px; */
  margin-top: 2px;
  margin-bottom: 2px;
  transition-duration: 0.2s;
  box-sizing: content-box;
  border: 1px solid transparent;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-tag__label {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-tag__wrapper:hover {
  background: #fff;
  border-color: var(--primary);
  color: var(--primary);
}

.app-tag__button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 14px;
  width: 14px;
  background: var(--secondary);
  color: #fff;
  cursor: pointer;
  margin-left: 4px;
  border: none;
  border-radius: 100%;
}

.app-tag__button::before {
  content: '';
  position: absolute;
  height: 8px;
  width: 1px;
  transition-duration: 0s;
  transform: rotate(45deg);
  background: #fff;
}

.app-tag__button::after {
  content: '';
  position: absolute;
  height: 8px;
  width: 1px;
  transition-duration: 0s;
  transform: rotate(-45deg);
  background: #fff;
}
</style>
