<template>
  <div class="app-text-input__wrapper">
    <div class="text-input__icon-wrapper">
      <slot name="icon"></slot>
    </div>
    <input
      :placeholder="placeholder"
      :value="modelValue"
      :type="inputType"
      :name="inputName"
      @change="emitValue($event)"
      class="text-input__input-element"
    />
  </div>
</template>
<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  emits: ['update:modelValue'],
  name: 'TextInput',
  props: {
    placeholder: String,
    modelValue: String,
    inputName: String,
    inputType: {
      type: String,
      default: 'text',
    },
  },
  methods: {
    emitValue(ev: Event) {
      const el = ev.target as HTMLInputElement;
      const value = el.value;
      this.$emit('update:modelValue', value);
    },
  },
});
</script>

<style>
.app-text-input__wrapper {
  display: flex;
  position: relative;
  height: 46px;
  width: 280px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0.75) 100%);
  border-radius: 5px;
  filter: drop-shadow(4px 4px 8px rgba(37, 66, 122, 0.25)), drop-shadow(-4px -4px 8px rgba(170, 235, 255, 0.25));
  padding: 0;
  margin: 0;
  border: 2px solid rgba(0, 117, 255, 0.18);
  margin-bottom: 8px;
}

.text-input__input-element {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - 46px);
  height: 100%;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  padding-left: 46px;
  font-size: 12px;
  line-height: 14px;
  color: #8cb5f2;
}

.text-input__icon-wrapper {
  position: absolute;
  top: 0;
  left: 12px;
  height: 100%;
  display: flex;
  align-items: center;
}
</style>
