<template>
  <label :class="$attrs.class" class="right-sidebar__basic-input">
    <span class="right-sidebar__label"
      >{{ label }} <span class="app-input__required-sign" v-if="required">*</span></span
    >
    <div class="right-sidebar__text-input-wrapper">
      <input
        :required="required"
        :disabled="disabled"
        :min="min"
        :max="max"
        :value="modelValue || undefined"
        :type="type"
        :name="inputName"
        @input="emitValue($event)"
        class="right-sidebar__input-base"
      />
      <button
        type="button"
        @click="togglePasswordVisibility"
        class="basic-input__toggle-password-visibility"
        v-if="isPassword"
        :title="passwordHidden ? 'Показати пароль' : 'Сховати пароль'"
      >
        <EyeIcon v-if="passwordHidden" />
        <EyeOpenIcon v-if="!passwordHidden" />
      </button>
    </div>
  </label>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import { VueComponent as EyeIcon } from '../../assets/icons/eye.svg';
import { VueComponent as EyeOpenIcon } from '../../assets/icons/icon-eye-closed.svg';

export default defineComponent({
  props: {
    label: {
      type: String,
      required: true,
    },
    modelValue: {
      type: [String, Number] as PropType<string | number | null | undefined>,
      default: null,
      required: false,
    },
    inputName: String,
    inputType: {
      type: String,
      default: 'text',
    },
    max: {
      type: [Number, String],
      required: false,
    },
    min: {
      type: [Number, String],
      required: false,
    },
    disabled: {
      type: [Boolean],
      required: false,
    },
    required: {
      type: [Boolean],
      required: false,
    },
  },
  data: () => ({ passwordHidden: true }),
  emits: ['update:modelValue'],
  methods: {
    emitValue(ev: Event) {
      const el = ev.target as HTMLInputElement;
      const value = el.value;
      this.$emit('update:modelValue', value);
    },
    togglePasswordVisibility() {
      this.passwordHidden = !this.passwordHidden;
    },
  },
  computed: {
    type(): string {
      if (this.inputType === 'password' && !this.passwordHidden) {
        return 'text';
      }
      return this.inputType;
    },
    isPassword(): boolean {
      return this.inputType === 'password';
    },
  },
  inheritAttrs: false,
  components: {
    EyeIcon,
    EyeOpenIcon,
  },
});
</script>

<style>
.right-sidebar__basic-input {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  width: 100%;
  position: relative;
  margin-bottom: 8px;
}

.right-sidebar__label {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  margin-bottom: 4px;
}

.right-sidebar__input-base {
  background: #ffffff;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  color: #787878;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 9px;
  border: none;
  height: 28px;
  transition-duration: 0.2s;
}

.right-sidebar__input-base:not([disabled]):hover,
.right-sidebar__input-base:not([disabled]):focus {
  transform: scale(1.015);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

.basic-input__toggle-password-visibility {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  color: var(--primary);
  position: absolute;
  right: 8px;
}

.right-sidebar__text-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-input__required-sign {
  color: var(--error);
}
</style>
