@import "./animations.css";

.small-margin-right {
  margin-right: 8px;
}

.accent-text {
  display: inline-block;
  text-decoration: none;
  color: #444;
  font-weight: bold;
}

.text-link:hover,
.text-link:focus {
  transition-duration: 0.2s;
  transform: scale(1.02);
}

.body {
  color: #222;
}

#app {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

::-webkit-input-placeholder {
  color: #787878;
}
::-moz-placeholder {
  color: #787878;
}
:-ms-input-placeholder {
  color: #787878;
}
:-moz-placeholder {
  color: #787878;
}
