:root {
  --primary: #8cb5f2;
  --primary-highlight: #699eee;
  --primary-weak: rgba(47, 108, 201, 0.05);
  --primary-weakhightlight: rgba(105, 158, 238, 0.25);
  --primary-halftransperent: rgba(105, 158, 238, 0.4);
  --secondary: #787878;
  --link-color: var(--primary-highlight);
  --accent: #fa8e25;
  --accent-highlight: #fa820d;
  --error: #dc143c;
}