<template>
  <div class="main-content__wrapper">
    <StructuresItems
      :activeFolderId="auditoriesState.activeAuditoryId"
      @selectFolder="selectFolder($event)"
      :items="auditoriesState.auditories"
    >
      <template #header>
        <h2 class="structures-items__header">Аудиторії</h2>
      </template>
      <CreateStructureItem :isActive="auditoriesState.creatingAuditory" @selectFolder="selectCreateFolder()" />
    </StructuresItems>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import StructuresItems from '../../../containers/structure-control-main/structures-items.vue';
import CreateStructureItem from '../../../containers/structure-control-main/create-structure-item.vue';
import { auditoriesStore } from '../../../../data/stores/auditories/auditories.store';
import { useCorpusId, useUniversityId } from '../../../../common/helpers/route.helpers';
import { editedAuditoryStore } from '../../../../data/stores/auditories/edited-auditory.store';

export default defineComponent({
  setup() {
    const corpusId = useCorpusId();
    const universityId = useUniversityId();

    editedAuditoryStore.setCorpusId(corpusId);
    editedAuditoryStore.setUniversityId(universityId);

    auditoriesStore.getByCorpus();
    return {
      auditoriesState: auditoriesStore.getState(),
    };
  },
  methods: {
    async selectFolder(auditoryId: string) {
      auditoriesStore.setActiveAuditory(auditoryId);
    },
    selectCreateFolder() {
      auditoriesStore.setCreatingAuditory();
    },
  },
  components: {
    StructuresItems,
    CreateStructureItem,
  },
});
</script>
