<template>
  <template v-if="auditoriesState.activeAuditoryId || auditoriesState.creatingAuditory">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ auditoriesHeader }}</h2>
    </div>
    <form class="right-sidebar__form" @submit.prevent="saveAuditory()" autocomplete="off">
      <ImageInput v-model="state.image" :imageUrl="state.logo" inputName="logo" />

      <TextInput
        required
        v-model="state.name"
        label="Назва"
        inputName="auditoryName"
        class="right-sidebar__first-input"
      />

      <Multiselect
        v-model="state.auditoryTypes"
        inputName="auditoryTypes"
        label="Призначення аудиторії"
        :selectOptions="$options.auditoryTypes"
      />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ actionAuditoriesButton }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppSeparator from '../../../components/separator.vue';
import ImageInput from '../../../components/image-input.vue';
import TextInput from '../../../components/text-input2.vue';
import AppButton from '../../../components/button2.vue';
import Multiselect from '../../../components/multiselect.vue';
import { auditoryTypes } from '../../../../common/constants';
import { auditoriesStore } from '../../../../data/stores/auditories/auditories.store';
import { editedAuditoryStore } from '../../../../data/stores/auditories/edited-auditory.store';

export default defineComponent({
  setup() {
    const editedAuditory = editedAuditoryStore.getState();
    const auditoriesState = auditoriesStore.getState();

    return {
      state: editedAuditory,
      auditoriesState: auditoriesState,
    };
  },
  methods: {
    saveAuditory() {
      if (this.state.id) {
        auditoriesStore.updateAuditory(this.state.id, this.state);
      }
      if (!this.state.id) {
        auditoriesStore.createAuditory(this.state);
      }
    },
  },
  computed: {
    auditoriesHeader() {
      if (this.state.id) {
        return 'Дані аудиторії';
      }
      return 'Створити аудиторію';
    },
    actionAuditoriesButton() {
      if (this.state.id) {
        return 'Змінити дані';
      }
      return 'Створити аудиторію';
    },
  },
  auditoryTypes,
  components: {
    ImageInput,
    TextInput,
    AppSeparator,
    AppButton,
    Multiselect,
  },
});
</script>
