<template>
  <LeftSidebar />
  <ScheduleWeek />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ScheduleWeek from './schedule-week/schedule-week-sheet-root.vue';
import LeftSidebar from '../../containers/left-sidebar/left-sidebar.vue';

export default defineComponent({
  components: {
    ScheduleWeek,
    LeftSidebar,
  },
});
</script>
