<template>
  <div class="login-page">
    <LogoSvg class="login-page__logo" />
    <form @focusin="setAuthorizationError()" @submit.prevent="login" class="login-page__form">
      <p class="login-page__authorization-error">{{ authorizationError }}</p>
      <TextInput inputName="login" v-model="userLogin" placeholder="Логін">
        <template #icon>
          <UserIcon class="login-page__form-icon" />
        </template>
      </TextInput>

      <TextInput inputName="password" inputType="password" v-model="password" placeholder="Пароль">
        <template #icon>
          <PasswordIcon class="login-page__form-icon" />
        </template>
      </TextInput>

      <AppButton buttonType="submit" class="login-page__submit-button"> Увійти </AppButton>
    </form>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import TextInput from '../../components/text-input.vue';
import AppButton from '../../components/button.vue';
import { userStore } from '../../../data/stores/user/user.store';
import { isApiError } from '../../../common/helpers/error.helpers';
import { IUserLoginPayload } from '@rozcloud/shared/interfaces';
import { VueComponent as UserIcon } from '../../../assets/icons/icon-user.svg';
import { VueComponent as PasswordIcon } from '../../../assets/icons/key-icon.svg';
import { VueComponent as LogoSvg } from '../../../assets/icons/logo.svg';
import { authorizationStore } from './../../../data/stores/authorization/authorization.store';
import { appBaseUrl } from '../../../common/config/app.config';

export default defineComponent({
  data: () => ({ userLogin: '', password: '', authorizationError: null as string | null }),
  components: {
    TextInput,
    AppButton,
    PasswordIcon,
    UserIcon,
    LogoSvg,
  },
  methods: {
    async login() {
      const payload: IUserLoginPayload = {
        loginOrEmailOrPhone: this.userLogin,
        password: this.password,
      };
      try {
        const redirectUrl = authorizationStore.originatedFrom ? authorizationStore.originatedFrom : '/structures';
        await userStore.login(payload);
        this.$router.push(redirectUrl);
      } catch (e) {
        if (isApiError(e) && e.code === 404) {
          const errorMessage = 'Користувач з вказаним логіном не знайдений';
          this.setAuthorizationError(errorMessage);
        }
        if (isApiError(e) && e.code === 400) {
          const errorMessage = 'Перевірте на правильність введені данні';
          this.setAuthorizationError(errorMessage);
        }
      }
    },
    setAuthorizationError(message: string | null = null) {
      this.authorizationError = message;
    },
  },
});
</script>

<style>
.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
      123.69deg,
      #bad6ff -0.07%,
      rgba(200, 222, 255, 0.75) -0.06%,
      rgba(140, 181, 242, 0) 80.02%
    ),
    #8cb5f2;
}

.login-page__logo {
  margin-bottom: 16px;
}

.login-page__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.login-page__submit-button {
  margin-top: 8px;
}

.login-page__form-icon {
  user-select: none;
  pointer-events: none;
  z-index: 1;
}
.login-page__authorization-error {
  color: var(--error);
  margin-bottom: 8px;
  text-align: center;
  max-width: 280px;
}
</style>
