<template>
  <form
    @submit.prevent="addExistingStudent"
    class="right-sidebar__add-existing-student right-sidebar__form"
    v-if="!isAcademic && studentsState.creatingStudent"
  >
    <AppSelect
      v-model="studentsState.existingStudentIdToAdd"
      v-if="studentsState.showAddExisting"
      label="Оберіть існуючого студента"
      inputName="student"
      :selectOptions="studentsState.supergroupStudents"
    ></AppSelect>

    <AppButton
      @click="!studentsState.showAddExisting && toggleAddExistingState()"
      :buttonType="studentsState.showAddExisting ? 'submit' : 'button'"
      class="right-sidebar__action-button"
      >Обрати існуючого студента
    </AppButton>
  </form>

  <template v-if="studentsState.activeStudentId || superGroupId || (studentsState.creatingStudent && isAcademic)">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ studentEditHeader }}</h2>
      <ActionsToolbar v-if="state.id">
        <ToolbarAction>Видалити студента</ToolbarAction>
        <ToolbarAction>Групи студента</ToolbarAction>
      </ActionsToolbar>
    </div>

    <form class="right-sidebar__form" @submit.prevent="saveStudent()" autocomplete="off">
      <ImageInput v-model="state.image" :imageUrl="state.avatar" inputName="avatar" />
      <TextInput required v-model="state.login" class="right-sidebar__first-input" inputName="login" label="Логін" />
      <TextInput
        required
        v-if="!state.id"
        v-model="state.password"
        inputName="password"
        inputType="password"
        label="Пароль"
      />
      <TextInput v-model="state.firstName" inputName="firstName" label="Ім'я" />
      <TextInput v-model="state.lastName" inputName="lastName" label="Прізвище" />
      <TextInput v-model="state.middleName" inputName="middleName" label="По-батькові" />
      <TextInput v-model="state.phone" inputName="phone" inputType="tel" label="Номер телефону" />
      <TextInput v-model="state.email" inputName="email" inputType="email" label="Електронна адреса" />
      <TextInput v-model="state.address" inputName="address" label="Адреса" />
      <TextInput v-model="state.birthday" inputName="birthDate" label="Дата народження" inputType="date" />
      <AppSelect v-model="state.gender" inputName="gender" label="Стать" :selectOptions="$options.genders"></AppSelect>
      <AppSelect
        v-model="state.paymentForm"
        inputName="studyPaymentForm"
        :selectOptions="$options.studyPaymentForms"
        label="Форма оплати навчання"
      />
      <TextInput v-model="state.studTicketSeria" inputName="studTicketSeria" label="Серія студентського квитка" />
      <TextInput v-model="state.studTicketSeria" inputName="studTicketNumber" label="Номер студентського квитка" />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ studentActionButtonText }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ImageInput from '../../../components/image-input.vue';
import TextInput from '../../../components/text-input2.vue';
import ActionsToolbar from '../../../containers/actions-toolbar/actions-toolbar.vue';
import ToolbarAction from '../../../containers/actions-toolbar/action-option.vue';
import AppSelect from '../../../components/select.vue';
import AppButton from '../../../components/button2.vue';
import AppSeparator from '../../../components/separator.vue';
import { studyPaymentForms, genders } from '../../../../common/constants';
import { editedStudentStore } from '../../../../data/stores/students/edited-student.store';
import { studentsStore } from '../../../../data/stores/students/students.store';
import { ICreateStudentPayload } from '@rozcloud/shared/interfaces';

export default defineComponent({
  setup() {
    const state = editedStudentStore.getState();
    const studentsState = studentsStore.getState();
    return {
      state,
      studentsState,
    };
  },
  components: {
    TextInput,
    ActionsToolbar,
    ToolbarAction,
    ImageInput,
    AppButton,
    AppSeparator,
    AppSelect,
  },
  studyPaymentForms,
  genders,
  methods: {
    saveStudent() {
      if (this.state.id) {
        studentsStore.updateStudent(this.state.id, this.state);
      }
      if (!this.state.id && this.isAcademic) {
        const groupId = this.$route.params.groupId;
        this.state.academicGroupId = Array.isArray(groupId) ? groupId[0] : groupId;
        studentsStore.createStudent(this.state as ICreateStudentPayload);
      }
      if (!this.state.id && this.superGroupId instanceof String) {
        const superGroupId = this.superGroupId;
        this.state.academicGroupId = superGroupId as string;

        const groupIds = this.$route.params.groupId;
        const currentGroupId = Array.isArray(groupIds) ? groupIds : [groupIds];
        studentsStore.createStudent(this.state as ICreateStudentPayload, currentGroupId);
      }
    },
    fetchSupergroupStudents() {
      if (this.superGroupId) {
        studentsStore.getSupergroupStudents(this.superGroupId as string);
      }
    },
    addExistingStudent() {
      const groupIds = this.$route.params.groupId;
      const currentGroupId = Array.isArray(groupIds) ? groupIds : [groupIds];
      const { existingStudentIdToAdd } = this.studentsState;

      if (currentGroupId && existingStudentIdToAdd) {
        const bindStudentToGroup = studentsStore.bindStudentToGroup.bind(studentsStore, existingStudentIdToAdd);
        currentGroupId.map(bindStudentToGroup);
      }
    },
    toggleAddExistingState() {
      this.studentsState.showAddExisting = !this.studentsState.showAddExisting;
      if (this.studentsState.showAddExisting) {
        this.fetchSupergroupStudents();
      }
    },
  },
  computed: {
    studentEditHeader() {
      if (this.state.id) {
        return 'Змінити дані студента';
      }
      return 'Створити студента';
    },
    studentActionButtonText() {
      if (this.state.id) {
        return 'Змінити дані';
      }
      return 'Створити студента';
    },
    isAcademic() {
      return this.$route.query?.academic === 'true';
    },
    superGroupId() {
      return this.$route.query?.supergroupId || null;
    },
  },
});
</script>

<style>
.right-sidebar__add-existing-student {
  margin-top: 40px;
}
</style>
