<template>
  <teleport to="body">
    <article ref="root" :style="{ top: top }" class="snackbar-root">
      <div class="snackbar__message-wrapper">
        <span class="snackbar__message">{{ state.message }}</span>
        <button @click="close()" type="button" class="snackbar__close-button">Зачинити</button>
      </div>
    </article>
  </teleport>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { snackbarStore } from '../../../data/stores/ui/snackbar.store';

export default defineComponent({
  setup() {
    const state = snackbarStore.getState();
    return {
      state: state,
      close: snackbarStore.hideMessage,
    };
  },
  methods: {},
  computed: {
    top(): string {
      if (this.state.message) {
        return 'calc(100% - ' + ((this.$refs?.root as HTMLAreaElement)?.offsetHeight || 0) + 'px)';
      }
      return '100%';
    },
  },
  watch: {},
});
</script>

<style>
.snackbar-root {
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.35s;
  position: fixed;
  border-radius: 5px;
  margin: auto;
  width: 100%;
  z-index: 20;
}

.snackbar__message-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  min-width: 60%;
  max-width: 60%;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%);
  background: #323232;
}

.snackbar__message {
  font-size: 16px;
  letter-spacing: 0.01em;
  color: #fff;
  font-weight: 400;
  line-height: 20px;
}

.snackbar__close-button {
  height: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  border: none;
  font-weight: bold;
  color: var(--primary);
  transition-duration: 0.2s;
}

.snackbar__close-button:hover {
  background: rgba(140, 181, 242, 0.12);
}
</style>
