<template>
  <router-view></router-view>
  <AppSnackbar />
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppSnackbar from './view/containers/snackbar/snackbar.vue';

export default defineComponent({
  name: 'App',
  components: {
    AppSnackbar,
  },
});
</script>

<style>
@import './assets/styles/index.css';
</style>
