<template>
  <div class="main-content__wrapper">
    <StructuresItems
      :activeFolderId="corpusesState.activeCorpusId"
      @selectFolder="selectFolder($event)"
      :items="corpusesState.corpuses"
    >
      <template #header>
        <h2 class="structures-items__header">Корпуси</h2>
      </template>
      <CreateStructureItem :isActive="corpusesState.creatingCorpus" @selectFolder="selectCreateFolder()" />
    </StructuresItems>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { corpusesStore } from '../../../../data/stores/corpus/corpuses.store';
import { useUniversityId } from '../../../../common/helpers/route.helpers';
import StructuresItems from '../../../containers/structure-control-main/structures-items.vue';
import CreateStructureItem from '../../../containers/structure-control-main/create-structure-item.vue';
import { editedCorpusStore } from '../../../../data/stores/corpus/edited-corpus';

export default defineComponent({
  setup() {
    const universityId = useUniversityId();

    editedCorpusStore.setUniversityId(universityId);
    corpusesStore.getByUniversity();
    return {
      corpusesState: corpusesStore.getState(),
    };
  },
  methods: {
    async selectFolder(structureId: string) {
      corpusesStore.setActiveCorpus(structureId);
    },
    selectCreateFolder() {
      corpusesStore.setCreatingCorpus();
    },
  },
  beforeUnmount() {
    const universityId = useUniversityId();
    editedCorpusStore.setNullishValues(universityId);
    this.corpusesState.activeCorpusId = null;
    this.corpusesState.creatingCorpus = false;
  },
  components: {
    StructuresItems,
    CreateStructureItem,
  },
});
</script>
