<template>
  <template v-if="corpusesState.activeCorpusId || corpusesState.creatingCorpus">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ corpusEditHeader }}</h2>
      <ActionsToolbar v-if="state.id">
        <ToolbarAction>Видалити корпус</ToolbarAction>
        <ToolbarAction @selectOption="showAuditories(state.id)">Показати аудиторії</ToolbarAction>
      </ActionsToolbar>
    </div>

    <form class="right-sidebar__form" @submit.prevent="saveCorpus()" autocomplete="off">
      <ImageInput v-model="state.image" :imageUrl="state.logo || null" inputName="universityLogo" />

      <TextInput required v-model="state.name" label="Назва" inputName="name" class="right-sidebar__first-input" />

      <TextInput v-model="state.address" label="Адреса" inputName="address" />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ corpusActionButtonText }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppSeparator from '../../../components/separator.vue';
import ImageInput from '../../../components/image-input.vue';
import TextInput from '../../../components/text-input2.vue';
import AppButton from '../../../components/button2.vue';
import ActionsToolbar from '../../../containers/actions-toolbar/actions-toolbar.vue';
import ToolbarAction from '../../../containers/actions-toolbar/action-option.vue';
import { editedCorpusStore } from '../../../../data/stores/corpus/edited-corpus';
import { corpusesStore } from '../../../../data/stores/corpus/corpuses.store';
import { useUniversityId } from '../../../../common/helpers/route.helpers';

export default defineComponent({
  setup() {
    const universityId = useUniversityId();
    editedCorpusStore.setNullishValues(universityId);
    const state = editedCorpusStore.getState();
    const corpusesState = corpusesStore.getState();
    return {
      state,
      corpusesState,
    };
  },
  components: {
    ImageInput,
    TextInput,
    AppSeparator,
    ActionsToolbar,
    ToolbarAction,
    AppButton,
  },
  methods: {
    saveCorpus() {
      if (!this.state.id) {
        corpusesStore.createCorpus(this.state);
      }
      if (this.state.id) {
        corpusesStore.updateCorpus(this.state.id, this.state);
      }
    },
    showAuditories(corpusId: string | null) {
      const universityId = this.$route.params.universityId;
      if (universityId && corpusId) {
        const route = `/structures/universities/${universityId}/corpuses/${corpusId}/auditories`;
        this.$router.push(route);
      }
    },
  },
  computed: {
    corpusEditHeader() {
      if (!this.corpusesState.activeCorpusId) {
        return 'Створити корпус';
      }
      return 'Дані корпусу';
    },
    corpusActionButtonText() {
      if (!this.corpusesState.activeCorpusId) {
        return 'Створити корпус';
      }
      return 'Змінити дані';
    },
  },
});
</script>

<style></style>
