<template>
  <template v-if="teachersState.creatingTeacher || teachersState.activeTeacherId">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ teacherEditHeader }}</h2>
      <ActionsToolbar v-if="teachersState.activeTeacherId">
        <ToolbarAction>Видалити викладача</ToolbarAction>
        <ToolbarAction>Групи пов'язані з викладачем</ToolbarAction>
        <ToolbarAction>Навчальні дисципліни викладача</ToolbarAction>
      </ActionsToolbar>
    </div>

    <form class="right-sidebar__form" @submit.prevent="saveTeacher()" autocomplete="off">
      <ImageInput v-model="state.image" :imageUrl="state.avatar" inputName="avatar" />
      <TextInput required v-model="state.login" class="right-sidebar__first-input" inputName="login" label="Логін" />
      <TextInput required v-if="!state.id" v-model="state.password" inputName="password" inputType="password" label="Пароль" />
      <TextInput v-model="state.firstName" inputName="firstName" label="Ім'я" />
      <TextInput v-model="state.lastName" inputName="lastName" label="Прізвище" />
      <TextInput v-model="state.middleName" inputName="middleName" label="По-батькові" />
      <TextInput v-model="state.phone" inputName="phone" inputType="tel" label="Номер телефону" />
      <TextInput v-model="state.email" inputName="email" inputType="email" label="Електронна адреса" />
      <TextInput v-model="state.address" inputName="address" label="Адреса" />
      <TextInput v-model="state.birthday" inputName="birthDate" label="Дата народження" inputType="date" />
      <AppSelect
        v-model="state.scienceDegree"
        inputName="scirnceDegree"
        label="Науковий ступінь"
        :selectOptions="$options.scienceDegreeSelect"
      ></AppSelect>

      <MultiSelect
        inputName="subjects"
        label="Предмети викладача"
        :selectOptions="subjectOptions"
        v-model="state.subjectIds"
      />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ teacherActionButtonText }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ImageInput from '../../../components/image-input.vue';
import TextInput from '../../../components/text-input2.vue';
import ActionsToolbar from '../../../containers/actions-toolbar/actions-toolbar.vue';
import ToolbarAction from '../../../containers/actions-toolbar/action-option.vue';
import AppButton from '../../../components/button2.vue';
import AppSeparator from '../../../components/separator.vue';
import AppSelect from '../../../components/select.vue';
import MultiSelect from '../../../components/multiselect.vue';
import { scienceDegreeSelect } from '../../../../common/constants';
import { editedTeacherStore } from '../../../../data/stores/teachers/edited-teacher.store';
import { teachersStore } from '../../../../data/stores/teachers/teachers.store';
import { ICreateTeacherPayload } from '@rozcloud/shared/interfaces';
import { SelectOption } from '../../../../common/interfaces/components';

export default defineComponent({
  setup() {
    const state = editedTeacherStore.getState();
    const teachersState = teachersStore.getState();
    return {
      state,
      teachersState,
    };
  },
  components: {
    TextInput,
    ActionsToolbar,
    ToolbarAction,
    ImageInput,
    AppButton,
    AppSelect,
    MultiSelect,
    AppSeparator,
  },
  scienceDegreeSelect,
  methods: {
    saveTeacher() {
      if (this.state.id) {
        return teachersStore.updateTeacher(this.state.id, this.state);
      }
      if (!this.state.id) {
        return teachersStore.createTeacher(this.state as ICreateTeacherPayload);
      }
    },
  },
  computed: {
    teacherEditHeader() {
      if (this.state.id) {
        return 'Змінити дані викладача';
      }
      return 'Додати викладача';
    },
    teacherActionButtonText() {
      if (this.state.id) {
        return 'Змінити дані';
      }
      return 'Додати викладача';
    },
    subjectOptions(): SelectOption[] {
      const subjects = this.teachersState.departmentSubjects;
      const subjectOptions: SelectOption[] = subjects.map((subject) => ({ value: subject.id, label: subject.name }));
      return subjectOptions;
    },
  },
});
</script>

<style></style>
