<template>
  <li
    @focus="selectFolder()"
    tabindex="0"
    class="create-structure-item"
    :class="{ 'create-structure-item_active': isActive }"
  >
    <PlusIcon />
  </li>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { VueComponent as PlusIcon } from '../../../assets/icons/plus-icon.svg';

export default defineComponent({
  props: {
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['selectFolder'],
  methods: {
    selectFolder() {
      this.$emit('selectFolder');
    },
  },
  components: {
    PlusIcon,
  },
});
</script>

<style>
.create-structure-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 134px;
  border: 4px solid var(--primary);
  box-sizing: border-box;
  border-radius: 15px;
  color: var(--primary);
  transition-duration: 0.2s;
  cursor: pointer;
  margin-right: 16px;
  margin-bottom: 16px;
}

.create-structure-item:hover,
.create-structure-item:focus {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 48.44%),
    var(--primary-highlight);
}

.create-structure-item:focus,
.create-structure-item:hover,
.create-structure-item_active {
  color: #fff;
}

.create-structure-item_active {
  border: none;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 48.44%), var(--accent);
}

.create-structure-item_active:hover,
.create-structure-item_active:focus {
  color: #fff;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 48.44%),
    var(--accent-highlight);
}
</style>
