<template>
  <div class="structures-items__heading">
    <slot name="header"></slot>
  </div>

  <ul class="structure-items__folders-list">
    <StructureItem
      v-for="item in items"
      :structure="item"
      :key="item.id"
      :isActive="isFolderActive(item.id)"
      @selectFolder="selectFolder($event)"
    />
    <slot></slot>
  </ul>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import StructureItem from './structure-item.vue';

export default defineComponent({
  props: {
    items: {
      type: Array as PropType<{ id: string; name: string; logo: string | null }[]>,
      default: () => [],
    },
    activeFolderId: {
      type: String as PropType<string | null>,
      required: false,
    },
  },
  emits: ['selectFolder'],
  methods: {
    selectFolder(structureId: string) {
      this.$emit('selectFolder', structureId);
    },
    isFolderActive(folderId: string) {
      return folderId === this.activeFolderId;
    },
  },
  components: {
    StructureItem,
  },
});
</script>

<style>
.structure-items__folders-list {
  display: flex;
  flex-wrap: wrap;
}

.structures-items__heading {
  border-bottom: 1px solid #787878;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.structures-items__header {
  color: #787878;
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
}
</style>
