<template>
  <main role="main" class="structure-page__main-content">
    <slot></slot>
  </main>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  components: {},
});
</script>

<style>
.structure-page__main-content {
  flex-grow: 1;
  padding: 8px 16px;
  overflow: auto;
}
</style>
