<template>
  <li class="structure-item__list-item">
    <div
      class="structure-item"
      tabindex="0"
      @keypress.enter="isActive && openFolder()"
      @focus="selectFolder()"
      @dblclick="openFolder()"
      :class="{ 'structure-item__active': isActive }"
    >
      <div class="structure-item__image-wrapper">
        <AppImage class="structure-item__image" :src="structure.logo || null" />
      </div>
    </div>
    <span class="structure-item__name">{{ structure.name }}</span>
    <a
      href="javascript:void(0)"
      class="structure-item__focuser"
      tabindex="0"
      @focus="selectFolder()"
      @click="moveToStructureMenu()"
      @keypress.enter="moveToStructureMenu()"
      >Перейти до меню структури {{ structure.name }}</a
    >
  </li>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { khersonUniversity } from '../../../common/constants';
import AppImage from '../../components/image.vue';

export default defineComponent({
  props: {
    key: {
      type: String,
    },
    structure: {
      type: Object,
      required: true,
    },
    isActive: {
      type: Boolean,
      default: false,
    },
  },
  emits: ['openFolder', 'selectFolder'],
  methods: {
    openFolder() {
      this.$emit('openFolder', this.structure?.id || null);
    },
    selectFolder() {
      if (!this.isActive) {
        this.$emit('selectFolder', this.structure?.id || null);
      }
    },
    moveToStructureMenu() {
      const sidebarEl = document.getElementById('right-sidebar');
      if (sidebarEl) {
        sidebarEl.focus();
      }
    },
  },
  components: {
    AppImage,
  },
  url: khersonUniversity,
});
</script>

<style>
.structure-item__list-item {
  width: 134px;
  overflow: hidden;
  margin-right: 16px;
  margin-bottom: 16px;
}

.structure-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 134px;
  height: 134px;
  transition-duration: 0.2s;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 48.44%), var(--primary);
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  border-radius: 15px;
  cursor: pointer;
  user-select: none;
}

.structure-item:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 48.44%),
    var(--primary-highlight);
}

.structure-item__active {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 48.44%), var(--accent);
}

.structure-item__active:hover {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 48.44%),
    var(--accent-highlight);
}

.structure-item__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  background: #fff;
  overflow: hidden;
  border-radius: 100%;
}

.structure-item__image {
  width: 76px;
  height: 76px;
  border-radius: 100%;
  pointer-events: none;
}

.structure-item__name {
  width: 100%;
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #787878;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px;
  background: #fff;
}

.structure-item__focuser {
  position: fixed;
  bottom: 200%;
  left: 0;
  border: none;
  background: #fff;
  padding: 8px 16px;
  color: var(--link-color);
  cursor: pointer;
  text-decoration: underline;
}

.structure-item__focuser:focus {
  bottom: initial;
  top: 0;
}
.structure-item__focuser:hover {
  color: var(--primary);
}
</style>
