<template>
  <div class="main-content__wrapper">
    <StructuresItems
      :activeFolderId="facultiesState.activeFacultyId"
      @selectFolder="selectFolder($event)"
      :items="facultiesState.faculties"
    >
      <template #header>
        <h2 class="structures-items__header">Факультети</h2>
      </template>
      <CreateStructureItem :isActive="facultiesState.creatingFaculty" @selectFolder="selectCreateFolder()" />
    </StructuresItems>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import StructuresItems from '../../../containers/structure-control-main/structures-items.vue';
import CreateStructureItem from '../../../containers/structure-control-main/create-structure-item.vue';
import { useUniversityId } from '../../../../common/helpers/route.helpers';
import { facultiesStore } from '../../../../data/stores/faculty/faculties.store';
import { editedFacultyStore } from '../../../../data/stores/faculty/edited-faculty.store';

export default defineComponent({
  setup() {
    const universityId = useUniversityId();

    editedFacultyStore.setUniversityId(universityId);
    facultiesStore.getByUniversity();
    return {
      facultiesState: facultiesStore.getState(),
    };
  },
  methods: {
    async selectFolder(structureId: string) {
      facultiesStore.setActiveFaculty(structureId);
    },
    selectCreateFolder() {
      facultiesStore.setCreatingFaculty();
    },
  },
  beforeUnmount() {
    const universityId = useUniversityId();
    editedFacultyStore.setNullishValues(universityId);
    this.facultiesState.activeFacultyId = null;
    this.facultiesState.creatingFaculty = false;
  },
  components: {
    StructuresItems,
    CreateStructureItem,
  },
});
</script>
