<template>
  <template v-if="facultiesState.activeFacultyId || facultiesState.creatingFaculty">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ facultyHeader }}</h2>
      <ActionsToolbar v-if="state.id">
        <ToolbarAction @selectOption="showDepartments()">Показати кафедри</ToolbarAction>
        <ToolbarAction @selectOption="showEmployees()">Показати робітників</ToolbarAction>
        <ToolbarAction>Показати детальну інформацію</ToolbarAction>
      </ActionsToolbar>
    </div>

    <form class="right-sidebar__form" @submit.prevent="saveFaculty()" autocomplete="off">
      <ImageInput v-model="state.image" :imageUrl="state.logo" inputName="universityLogo" />

      <TextInput
        required
        v-model="state.name"
        label="Назва"
        inputName="universityName"
        class="right-sidebar__first-input"
      />

      <TextInput v-model="state.abbreviation" label="Аббревіатура" inputName="abbrreviation" />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ facultyActionButtonText }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppSeparator from '../../../components/separator.vue';
import ImageInput from '../../../components/image-input.vue';
import TextInput from '../../../components/text-input2.vue';
import AppButton from '../../../components/button2.vue';
import ActionsToolbar from '../../../containers/actions-toolbar/actions-toolbar.vue';
import ToolbarAction from '../../../containers/actions-toolbar/action-option.vue';
import { editedFacultyStore } from '../../../../data/stores/faculty/edited-faculty.store';
import { useUniversityId } from '../../../../common/helpers/route.helpers';
import { facultiesStore } from '../../../../data/stores/faculty/faculties.store';

export default defineComponent({
  setup() {
    const universityId = useUniversityId();
    editedFacultyStore.setNullishValues(universityId);
    const state = editedFacultyStore.getState();
    const facultiesState = facultiesStore.getState();
    return {
      state,
      facultiesState,
    };
  },
  components: {
    ImageInput,
    TextInput,
    AppSeparator,
    ActionsToolbar,
    ToolbarAction,
    AppButton,
  },
  methods: {
    saveFaculty() {
      if (!this.state.id) {
        facultiesStore.createFaculty(this.state);
      }
      if (this.state.id) {
        facultiesStore.updateFaculty(this.state.id, this.state);
      }
    },
    showEmployees() {
      const facultyId = this.state?.id;
      if (facultyId) {
        this.$router.push(`/structures/users/${facultyId}/employees`);
      }
    },
    showDepartments() {
      const facultyId = this.state?.id;
      const universityId = this.$route.params.universityId;
      if (facultyId && universityId) {
        this.$router.push(`/structures/universities/${universityId}/faculties/${facultyId}/departments`);
      }
    },
  },
  computed: {
    facultyHeader() {
      if (!this.facultiesState.activeFacultyId) {
        return 'Створити факультет';
      }
      return 'Дані факультету';
    },
    facultyActionButtonText() {
      if (!this.facultiesState.activeFacultyId) {
        return 'Створити факультет';
      }
      return 'Змінити дані';
    },
  },
});
</script>
