<template>
  <Dialog :isLoading="isLoading" header="Надання доступу до даних" :opened="true" @close="closeWindow">
    <p v-if="isAccessAllowed === null" class="external-app__access_request">
      Дозволити додатку "Rozcloud Telegram Bot" доступ до читання ваших даних?
    </p>
    <p class="external-app__access_request" v-if="isAccessAllowed">Доступ дозволено ви можете закрити вікно браузера</p>
    <p class="external-app__access_request" v-if="isAccessAllowed === false">
      Додатку не було надано доступ до ваших даних. Ви можете закрити вікно браузера чи перейти до
      <router-link to="/" class="accent-text text-link">головної сторінки</router-link>
    </p>
    <template #actions v-if="isAccessAllowed === null">
      <Button @click="forbid" class="small-margin-right" buttonType="button">
        Заборонити
      </Button>

      <Button @click="allow" buttonType="button">
        Дозволити
      </Button>
    </template>
  </Dialog>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import Dialog from '../../components/dialog.vue';
import Button from '../../components/button2.vue';
import { UsersService } from '../../../data/api/users.service';

export default defineComponent({
  data: () => ({
    isAccessAllowed: null as null | boolean,
    isLoading: false,
  }),
  components: {
    Dialog,
    Button,
  },
  methods: {
    forbid() {
      this.isAccessAllowed = false;
    },
    async allow() {
      const { identifier, payload } = this.$route.query;
      if (!identifier || !payload) {
        return;
      }

      const id = atob(identifier as string);
      const username = atob(payload as string);

      this.isLoading = true;
      await UsersService.bindToTelegram(id, { username, accessAllowed: true });
      this.isLoading = false;

      this.isAccessAllowed = true;
    },
    closeWindow() {
      this.$router.push('/');
    },
  },
});
</script>

<style>
.external-app__access_request {
  font-weight: bold;
  text-shadow: #000 0px 0 40px;
  line-height: 1.6;
}
</style>
