<template>
  <aside class="right-sidebar" id="right-sidebar" tabindex="-1">
    <slot></slot>
  </aside>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  props: {},
  components: {},
});
</script>

<style>
.right-sidebar {
  height: calc(100vh - 20px);
  width: 284px;
  min-width: 284px;
  overflow: auto;
  background: linear-gradient(162.63deg, rgba(200, 222, 255, 0.75) -0.12%, #bad6ff -0.12%, rgba(140, 181, 242, 0) 47.7%),
    #8cb5f2;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 20px;
}

.right-sidebar__action-button {
  margin-top: 8px;
}

.right-sidebar__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-sidebar__form-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.right-sidebar__header {
  font-size: 18px;
  line-height: 32px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-right: 8px;
  min-width: max-content;
}

.right-sidebar__first-input {
  margin-top: 16px;
}
</style>
