<template>
  <li @click="selectOption()" @keypress.enter="selectOption()" tabindex="0" class="structures-items__toolbar-option">
    <slot></slot>
  </li>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  emits: ['selectOption'],
  methods: {
    selectOption() {
      this.$emit('selectOption');
    },
  },
});
</script>

<style>
.structures-items__toolbar-option {
  position: relative;
  padding: 8px;

  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  cursor: pointer;
}

.structures-items__toolbar-option:hover {
  background: rgba(0, 0, 127, 0.1);
}
</style>
