<template>
  <article @focusout="hideActions()" @focusin="openToolbar()" class="structures-items__toolbar" ref="articleRef">
    <button title="Доступні дії" type="button" class="structures-items__toolbar-tigger">
      <span class="structures-items__trigger-icon"></span>
      <span class="structures-items__trigger-icon"></span>
      <span class="structures-items__trigger-icon"></span>
    </button>
    <transition name="fade">
      <ul
        @click="hideActions()"
        @keypress.enter="hideActions()"
        v-if="isVisible"
        :style="{ right: right, top: top }"
        class="structures-items__toolbar-options"
      >
        <slot></slot>
      </ul>
    </transition>
  </article>
</template>

<script lang="ts">
import { defineComponent } from 'vue';

export default defineComponent({
  data: () => ({ isVisible: false, right: '0px', top: '0px' }),
  timer: null,
  methods: {
    hideActions() {
      this.$options.timer = setTimeout(() => {
        this.isVisible = false;
      });
    },
    openToolbar() {
      if (this.$options.timer) {
        clearTimeout(this.$options.timer);
      }
      const toolbarRootRef = this.$refs.articleRef as HTMLElement;
      const { x, y } = toolbarRootRef.getBoundingClientRect();
      this.isVisible = true;
      const rightCoord = window.innerWidth - x;
      this.right = rightCoord + 5 + 'px';
      this.top = y + 'px';
    },
  },
});
</script>

<style>
.structures-items__toolbar {
  position: relative;
}

.structures-items__toolbar-options {
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: visible;
  background: var(--primary);
  padding-top: 8px;
  padding-bottom: 8px;
  /* border: 2px solid var(--accent); */
  border-radius: 5px;
  filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.4));
  z-index: 1;
  min-width: 320px;
}

.structures-items__trigger-icon {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: 5px;
  height: 5px;
  min-width: 5px;
  min-height: 5px;
  background: var(--primary);
  border-radius: 100%;
}

.structures-items__trigger-icon:not(:first-of-type) {
  margin-left: 3px;
}

.structures-items__toolbar-tigger {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  height: 32px;
  width: 48px;
  border: none;
  cursor: pointer;
}

.structures-items__toolbar-tigger:hover,
.structures-items__toolbar-tigger:focus {
  background: var(--primary);
}

.structures-items__toolbar-tigger:hover .structures-items__trigger-icon,
.structures-items__toolbar-tigger:focus .structures-items__trigger-icon {
  background: #fff;
}
</style>
