<template>
  <div class="main-content__wrapper">
    <StructuresItems
      :activeFolderId="groupsState.activeGroupId"
      @selectFolder="selectFolder($event)"
      :items="groupsState.groups"
    >
      <template #header>
        <h2 class="structures-items__header">Групи</h2>
      </template>
      <CreateStructureItem :isActive="groupsState.creatingGroup" @selectFolder="selectCreateFolder()" />
    </StructuresItems>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import StructuresItems from '../../../containers/structure-control-main/structures-items.vue';
import CreateStructureItem from '../../../containers/structure-control-main/create-structure-item.vue';
import { useDepartmentId } from '../../../../common/helpers/route.helpers';
import { groupsStore } from '../../../../data/stores/groups/groups.store';
import { editedFacultyStore } from '../../../../data/stores/faculty/edited-faculty.store';
import { editedGroupStore } from '../../../../data/stores/groups/edited-group.store';

export default defineComponent({
  setup() {
    const departmentId = useDepartmentId();

    editedGroupStore.setDepartmentId(departmentId);
    groupsStore.getByDepartment();
    return {
      groupsState: groupsStore.getState(),
    };
  },
  methods: {
    async selectFolder(structureId: string) {
      groupsStore.setActiveGroup(structureId);
    },
    selectCreateFolder() {
      groupsStore.setCreatingGroup();
    },
  },
  beforeUnmount() {
    const departmentId = useDepartmentId();
    editedFacultyStore.setNullishValues(departmentId);
    groupsStore.clear();
  },
  components: {
    StructuresItems,
    CreateStructureItem,
  },
});
</script>
