<template>
  <template v-if="universirsitiesUiState.activeUniversityId || universirsitiesUiState.createUniversity">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ universityHeader }}</h2>
      <ActionsToolbar v-if="editedUniversity.id">
        <ToolbarAction @selectOption="showFaculties()">Показати факультети</ToolbarAction>
        <ToolbarAction @selectOption="showCorpuses()">Показати корпуси</ToolbarAction>
        <ToolbarAction @selectOption="showEmployees()">Показати робітників</ToolbarAction>
        <ToolbarAction>Показати детальну інформацію</ToolbarAction>
      </ActionsToolbar>
    </div>

    <form class="right-sidebar__form" @submit.prevent="saveUniversity()" autocomplete="off">
      <ImageInput v-model="editedUniversity.image" :imageUrl="editedUniversity.logo" inputName="universityLogo" />

      <TextInput
        required
        v-model="editedUniversity.name"
        label="Назва"
        inputName="universityName"
        class="right-sidebar__first-input"
      />

      <TextInput v-model="editedUniversity.abbreviation" label="Аббревіатура" inputName="abbrreviation" />

      <TextInput v-model="editedUniversity.city" inputName="city" label="Місто" />

      <AppSelect
        v-model="editedUniversity.type"
        inputName="higherEducationType"
        :selectOptions="$options.higherEducationTypes"
        label="Тип навчального закладу"
      />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ actionUniversityButton }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppSelect from '../../../components/select.vue';
import AppSeparator from '../../../components/separator.vue';
import ImageInput from '../../../components/image-input.vue';
import TextInput from '../../../components/text-input2.vue';
import AppButton from '../../../components/button2.vue';
import ActionsToolbar from '../../../containers/actions-toolbar/actions-toolbar.vue';
import ToolbarAction from '../../../containers/actions-toolbar/action-option.vue';
import { higherEducationTypes } from '../../../../common/constants';
import { editedUniversityStore } from '../../../../data/stores/university/edited-university.store';
import { universirsitiesUiStateStore } from '../../../../data/stores/university/universities-ui-state.store';
import { universitiesStore } from '../../../../data/stores/university/universities.store';

export default defineComponent({
  setup() {
    return {
      editedUniversity: editedUniversityStore.getState(),
      universirsitiesUiState: universirsitiesUiStateStore.getState(),
    };
  },
  methods: {
    saveUniversity() {
      if (this.editedUniversity.id) {
        universitiesStore.updateUniversity(this.editedUniversity.id, this.editedUniversity);
      }
      if (!this.editedUniversity.id) {
        universitiesStore.createUniversity(this.editedUniversity);
      }
    },
    showCorpuses() {
      const universityId = this.editedUniversity?.id;
      if (universityId) {
        this.$router.push(`/structures/universities/${universityId}/corpuses`);
      }
    },
    showEmployees() {
      const universityId = this.editedUniversity?.id;
      if (universityId) {
        this.$router.push(`/structures/users/${universityId}/employees`);
      }
    },
    showFaculties() {
      const universityId = this.editedUniversity?.id;
      if (universityId) {
        this.$router.push(`/structures/universities/${universityId}/faculties`);
      }
    },
  },
  computed: {
    universityHeader() {
      if (this.editedUniversity.id) {
        return 'Дані університету';
      }
      return 'Створити університет';
    },
    actionUniversityButton() {
      if (this.editedUniversity.id) {
        return 'Змінити дані';
      }
      return 'Створити університет';
    },
  },
  higherEducationTypes,
  components: {
    AppSelect,
    ImageInput,
    TextInput,
    AppSeparator,
    ActionsToolbar,
    ToolbarAction,
    AppButton,
  },
});
</script>
