<template>
  <div class="main-content__wrapper">
    <StructuresItems
      :activeFolderId="universirsitiesUiState.activeUniversityId"
      @selectFolder="selectFolder($event)"
      :items="universitiesState.universities"
    >
      <template #header>
        <h2 class="structures-items__header">Університети</h2>
        <!-- <Breadcrumbs :items="[]" /> -->
      </template>
      <CreateStructureItem :isActive="universirsitiesUiState.createUniversity" @selectFolder="selectCreateFolder()" />
    </StructuresItems>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import { universitiesStore } from '../../../../data/stores/university/universities.store';
import { editedUniversityStore } from '../../../../data/stores/university/edited-university.store';
import { universirsitiesUiStateStore } from '../../../../data/stores/university/universities-ui-state.store';
import StructuresItems from '../../../containers/structure-control-main/structures-items.vue';
import CreateStructureItem from '../../../containers/structure-control-main/create-structure-item.vue';
import Breadcrumbs from '../../../components/breadcrums.vue';

export default defineComponent({
  setup() {
    universitiesStore.getUniversities();
    return {
      universirsitiesUiState: universirsitiesUiStateStore.getState(),
      universitiesState: universitiesStore.getState(),
    };
  },
  methods: {
    async selectFolder(structureId: string) {
      universirsitiesUiStateStore.setActiveUniversityId(structureId);
      const selectedUniversity = await universitiesStore.getUniversity(structureId);
      if (selectedUniversity) {
        editedUniversityStore.setData(selectedUniversity);
      }
    },
    selectCreateFolder() {
      if (!this.universirsitiesUiState.createUniversity) {
        universirsitiesUiStateStore.setCreatingUniversity();
        editedUniversityStore.setNullishValues();
      }
    },
  },
  components: {
    StructuresItems,
    CreateStructureItem,
    // Breadcrumbs,
  },
});
</script>
