<template>
  <tr class="schedule-week-table__schedule-item-subject-row">
    <td
      class="schedule-week-table__schedule-item-number"
      :class="{
        'schedule-week-table__schedule-item-number_last': isLast,
        'schedule-week-table__schedule-item-number_highlighen': scheduleItem.isHighlighted,
      }"
      :rowspan="4"
    >
      <div class="schedule-week-table__schedule-item-number-wrapper">
        {{ scheduleItem.itemNumber }}
      </div>
    </td>
    <SheetCell
      v-for="(scheduleItemDataEl, index) in scheduleItem.scheduleItemData"
      :key="scheduleItemDataEl.id"
      @inputChange="onSubjectInputChange(scheduleItemDataEl, $event)"
      @selectOption="selectSubject(scheduleItemDataEl, $event)"
      @created="assignSubjectInputElement(scheduleItemDataEl, $event)"
      @destroy="unassignAuditoryInputElement(scheduleItemDataEl)"
      @mouseenter="emitHighlight(index)"
      @mouseleave="emitUnhighlight(index)"
      @keydown.delete="deleteSubjectData(scheduleItemDataEl)"
      @keydown="emitPaste($event, index, $options.ScheduleWeekCellTypes.Subject)"
      :class="{ 'schedule-week-table__schedule-item-attribute_selected': scheduleItemDataEl.subjectSelected }"
      :inputValue="scheduleItemDataEl.subjectInputValue"
      :selectOptions="scheduleItemDataEl.subjectSelectOptions"
    >
      <template #default="{ option }">
        {{ option.name }}
      </template>
    </SheetCell>
    <td class="schedule-week-table__cell schedule-week-table__cell-heading">
      <div class="schedule-week-table__cell-heading-wrapper">Предмет</div>
    </td>
  </tr>

  <tr>
    <SheetCell
      v-for="(scheduleItemDataEl, index) in scheduleItem.scheduleItemData"
      :key="scheduleItemDataEl.id"
      @inputChange="onTeacherInputChange(scheduleItemDataEl, $event)"
      @selectOption="selectTeacher(scheduleItemDataEl, $event)"
      @created="assignTeacherInputElement(scheduleItemDataEl, $event)"
      @destroy="unassignTeacherInputElement(scheduleItemDataEl)"
      @mouseenter="emitHighlight(index)"
      @mouseleave="emitUnhighlight(index)"
      @keydown.delete="deleteTeacherData(scheduleItemDataEl)"
      @keydown="emitPaste($event, index, $options.ScheduleWeekCellTypes.Teacher)"
      :class="{ 'schedule-week-table__schedule-item-attribute_selected': scheduleItemDataEl.teacherSelected }"
      :inputValue="scheduleItemDataEl.teacherInputValue"
      :selectOptions="scheduleItemDataEl.teacherSelectOptions"
    >
      <template #default="{ option }">
        {{ getTeacherName(option) }}
      </template>
    </SheetCell>
    <td class="schedule-week-table__cell schedule-week-table__cell-heading">
      <div class="schedule-week-table__cell-heading-wrapper">Викладач</div>
    </td>
  </tr>

  <tr class="schedule-week-table__schedule-item-auditory-row">
    <SheetCell
      v-for="(scheduleItemDataEl, index) in scheduleItem.scheduleItemData"
      :key="scheduleItemDataEl.id"
      @inputChange="onAuditoryInputChange(scheduleItemDataEl, $event)"
      @selectOption="selectAuditory(scheduleItemDataEl, $event)"
      @created="assignAuditoryInputElement(scheduleItemDataEl, $event)"
      @destroy="unassignSubjectInputElement(scheduleItemDataEl)"
      @mouseenter="emitHighlight(index)"
      @mouseleave="emitUnhighlight(index)"
      @keydown.delete="deleteAuditoryData(scheduleItemDataEl)"
      @keydown="emitPaste($event, index, $options.ScheduleWeekCellTypes.Auditory)"
      :class="{ 'schedule-week-table__schedule-item-attribute_selected': scheduleItemDataEl.auditorySelected }"
      :inputValue="scheduleItemDataEl.auditoryInputValue"
      :selectOptions="scheduleItemDataEl.auditorySelectOptions"
    >
      <template #default="{ option }">
        {{ option.name }}
      </template>
    </SheetCell>
    <td class="schedule-week-table__cell schedule-week-table__cell-heading">
      <div class="schedule-week-table__cell-heading-wrapper">Аудиторія</div>
    </td>
  </tr>

  <tr
    class="schedule-week-table__schedule-item-auditory-row"
    :class="{ 'schedule-week-table__schedule-item-row_last': isLast }"
  >
    <SheetCell
      v-for="(scheduleItemDataEl, index) in scheduleItem.scheduleItemData"
      :key="scheduleItemDataEl.id"
      @inputChange="onSubjectTypesInputChange(scheduleItemDataEl, $event)"
      @selectOption="selectSubjectType(scheduleItemDataEl, $event)"
      @created="assignSubjectTypeInputElement(scheduleItemDataEl, $event)"
      @destroy="unassignSubjectTypeInputElement(scheduleItemDataEl)"
      @mouseenter="emitHighlight(index)"
      @mouseleave="emitUnhighlight(index)"
      @keydown.delete="deleteSubjectTypeData(scheduleItemDataEl)"
      @keydown="emitPaste($event, index, $options.ScheduleWeekCellTypes.SubjectType)"
      :class="{ 'schedule-week-table__schedule-item-attribute_selected': scheduleItemDataEl.subjectTypeSelected }"
      :inputValue="scheduleItemDataEl.subjectTypeInputValue"
      :selectOptions="scheduleItemDataEl.subjectTypesSelectOptions"
    >
      <template #default="{ option }">
        {{ option.label }}
      </template>
    </SheetCell>
    <td class="schedule-week-table__cell schedule-week-table__cell-heading">
      <div class="schedule-week-table__cell-heading-wrapper">
        Тип пари
      </div>
    </td>
  </tr>
</template>

<script lang="ts">
import {
  ISubjectFilter,
  ITeacher,
  ITeacherFilter,
  IAuditoryFilter,
  IAuditory,
  ISubject,
} from '@rozcloud/shared/interfaces';
import { IGroupScheduleItemData } from '../../../../../common/interfaces/components/schedule-week';
import { defineComponent, PropType } from 'vue';
import { userToFullName } from '../../../../../common/helpers/mappers';
import { subjectTypes } from '../../../../../common/constants';
import { IScheduleItemData } from '../../../../../common/interfaces/components/schedule-week';
import { scheduleEntitiesFlyweight } from '../../../../../data/stores/schedule-week/schedule-entities-flyweight';
import { scheduleWeekItemsController } from '../../../../../data/stores/schedule-week/items-controller';
import SheetCell from './sheet-cell.vue';
import { groupsScheduleStore } from '../../../../../data/stores/schedule-week/schedule-week.group-schedule';
import { ScheduleWeekCellTypes } from '../../../../../common/enums/cell-type.enum';
import { sheetSelectionStore } from '../../../../../data/stores/schedule-week/sheet-selection';
import { IScheduleWeekSelectionElement } from '../../../../../common/interfaces/components/schedule-week.selection';
import { getElementRectangle } from '../../../../../common/helpers/dom.helpers';

export default defineComponent({
  props: {
    scheduleItem: {
      type: Object as PropType<IGroupScheduleItemData>,
      required: true,
    },
  },
  subjectTypes,
  ScheduleWeekCellTypes,
  emits: ['highlightItem', 'unhighlightItem', 'paste'],
  setup() {
    const {
      deleteSubjectData,
      deleteTeacherData,
      deleteAuditoryData,
      deleteSubjectTypeData,
    } = scheduleWeekItemsController;

    const { selectItemByType } = sheetSelectionStore;

    return {
      deleteSubjectData,
      deleteTeacherData,
      deleteAuditoryData,
      deleteSubjectTypeData,
      selectItemByType,
    };
  },
  methods: {
    async onTeacherInputChange(scheduleItemDataEl: IScheduleItemData, event: Event) {
      const value = (event.target as HTMLInputElement).value;
      scheduleItemDataEl.teacherInputValue = value;

      const filters: ITeacherFilter = { search: value };
      const teachers = await scheduleEntitiesFlyweight.getTeachersByFilters(filters);
      scheduleItemDataEl.teacherSelectOptions = teachers;
      return teachers;
    },
    async onSubjectInputChange(scheduleItemDataEl: IScheduleItemData, event: Event) {
      const value = (event.target as HTMLInputElement).value;
      scheduleItemDataEl.subjectInputValue = value;

      const filter: ISubjectFilter = { search: value };
      const subjects = await scheduleEntitiesFlyweight.getSubjectsByFilters(filter);
      scheduleItemDataEl.subjectSelectOptions = subjects;
      return subjects;
    },
    async onAuditoryInputChange(scheduleItemDataEl: IScheduleItemData, event: Event) {
      const value = (event.target as HTMLInputElement).value;
      scheduleItemDataEl.auditoryInputValue = value;

      const filters: IAuditoryFilter = { search: value };
      const auditories = await scheduleEntitiesFlyweight.getAuditoriesByFilters(filters);
      scheduleItemDataEl.auditorySelectOptions = auditories;
      return auditories;
    },
    onSubjectTypesInputChange(scheduleItemDataEl: IScheduleItemData, event: Event) {
      const value = (event.target as HTMLInputElement).value;
      scheduleItemDataEl.subjectTypeInputValue = value;
      const filteredOptions = subjectTypes.filter(option => option.label?.toLocaleLowerCase().includes(value));
      scheduleItemDataEl.subjectTypesSelectOptions = (filteredOptions as unknown) as typeof subjectTypes;
    },
    getTeacherName(teacher: unknown) {
      const teacherName = userToFullName(teacher as ITeacher);
      return teacherName;
    },
    selectTeacher(scheduleItemDataEl: IScheduleItemData, teacher: ITeacher) {
      scheduleItemDataEl.teacher = teacher;
      scheduleItemDataEl.teacherInputValue = userToFullName(teacher);
    },
    selectAuditory(scheduleItemDataEl: IScheduleItemData, auditory: IAuditory) {
      scheduleItemDataEl.auditory = auditory;
      scheduleItemDataEl.auditoryInputValue = auditory.name;
    },
    selectSubject(scheduleItemDataEl: IScheduleItemData, subject: ISubject) {
      scheduleItemDataEl.subject = subject;
      scheduleItemDataEl.subjectInputValue = subject.name;
    },
    selectSubjectType(scheduleItemDataEl: IScheduleItemData, option: typeof subjectTypes[0]) {
      scheduleItemDataEl.type = option.value;
      scheduleItemDataEl.subjectTypeInputValue = option.label;
    },

    assignSubjectInputElement(scheduleItemDataEl: IScheduleItemData, inputEl: unknown) {
      scheduleItemDataEl.subjectInputEl = inputEl as HTMLInputElement;
    },
    assignTeacherInputElement(scheduleItemDataEl: IScheduleItemData, inputEl: unknown) {
      scheduleItemDataEl.teacherInputEl = inputEl as HTMLInputElement;
    },
    assignAuditoryInputElement(scheduleItemDataEl: IScheduleItemData, inputEl: unknown) {
      scheduleItemDataEl.auditoryInputEl = inputEl as HTMLInputElement;
    },
    assignSubjectTypeInputElement(scheduleItemDataEl: IScheduleItemData, inputEl: unknown) {
      scheduleItemDataEl.subjectTypeInputEl = inputEl as HTMLInputElement;
    },

    unassignSubjectInputElement(scheduleItemDataEl: IScheduleItemData) {
      scheduleItemDataEl.subjectInputEl = undefined;
    },
    unassignTeacherInputElement(scheduleItemDataEl: IScheduleItemData) {
      scheduleItemDataEl.teacherInputEl = undefined;
    },
    unassignAuditoryInputElement(scheduleItemDataEl: IScheduleItemData) {
      scheduleItemDataEl.auditoryInputEl = undefined;
    },
    unassignSubjectTypeInputElement(scheduleItemDataEl: IScheduleItemData) {
      scheduleItemDataEl.subjectTypeInputEl = undefined;
    },
    emitHighlight(index: number) {
      this.highlightGroup(index);
      this.$emit('highlightItem', this.scheduleItem);
    },
    emitUnhighlight(index: number) {
      this.unhighlightGroup(index);
      this.$emit('unhighlightItem', this.scheduleItem);
    },
    highlightGroup(index: number) {
      groupsScheduleStore.highlightGroup(index);
    },
    unhighlightGroup(index: number) {
      groupsScheduleStore.unHighlightGroup(index);
    },

    emitPaste(e: Event, itemDataElIndex: number, type: ScheduleWeekCellTypes) {
      const { ctrlKey, metaKey, code } = e as KeyboardEvent;
      if ((ctrlKey || metaKey) && code === 'KeyV') {
        this.$emit('paste', itemDataElIndex);
      }
      if ((ctrlKey || metaKey) && code === 'KeyC') {
        const scheduleItem = this.scheduleItem.scheduleItemData[itemDataElIndex];
        let inputEl = null as null | HTMLElement;
        if (type === ScheduleWeekCellTypes.Subject) {
          inputEl = scheduleItem.subjectInputEl || null;
        }
        if (type === ScheduleWeekCellTypes.Teacher) {
          inputEl = scheduleItem.teacherInputEl || null;
        }
        if (type === ScheduleWeekCellTypes.Auditory) {
          inputEl = scheduleItem.auditoryInputEl || null;
        }
        if (type === ScheduleWeekCellTypes.SubjectType) {
          inputEl = scheduleItem.subjectTypeInputEl || null;
        }
        if (!inputEl) {
          return;
        }
        const selectionItem: IScheduleWeekSelectionElement = {
          type,
          coords: getElementRectangle(inputEl),
          item: scheduleItem,
        };
        this.selectItemByType(selectionItem);
      }
    },
  },
  computed: {
    isLast(): boolean {
      const itemNumber = this.scheduleItem.itemNumber;
      return itemNumber === 6;
    },
  },
  components: {
    SheetCell,
  },
});
</script>

<style>
.schedule-week-table__schedule-item-subject-row {
  border-top: 3px solid var(--primary-highlight);
}
.schedule-week-table__schedule-item-number {
  position: sticky;
  left: 112px;
  z-index: 3;
  box-shadow: 2px 0 0px var(--primary-highlight), -2px 0 0px var(--primary-highlight),
    6px 0 8px 0px rgba(44, 44, 44, 0.6);
  background: #fff;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: bold;
  border: 1px solid var(--primary-highlight);
  text-align: center;
  border-left-width: 2px;
  border-right-width: 2px;
  width: 24px;
}
.schedule-week-table__schedule-item-row_last {
  border-bottom: 3px solid var(--primary-highlight);
}
.schedule-week-table__cell-heading {
  color: #222;
  font-weight: 600;
  position: sticky;
  right: 48px;
  z-index: 1;
  box-shadow: -2px 0 0px var(--primary-highlight), -6px 0 4px 0px rgba(44, 44, 44, 0.6);
  border-left: 0px solid var(--primary-highlight);
  border-right: 3px solid var(--primary-highlight);
  border-bottom: 1px solid var(--primary-weakhightlight);
  box-sizing: content-box;
  background: #fff;
  width: 120px;
}
.schedule-week-table__cell-heading-wrapper {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 8px 24px;
}
.schedule-week-table__schedule-item-number_last {
  border-bottom: 3px solid var(--primary-highlight);
}
.schedule-week-table__schedule-item-attribute_selected,
.schedule-week-table__schedule-item-attribute_selected:hover {
  background: var(--primary-weakhightlight);
}
.schedule-week-table__schedule-item-number-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* box-shadow: 12px 0px 8px -8px #111; */
}
.schedule-week-table__schedule-item-number_highlighen .schedule-week-table__schedule-item-number-wrapper {
  background: var(--primary-weakhightlight);
}
</style>
