<template>
  <tr class="schedule-week-table__day-row">
    <th class="schedule-week-table__day-header" :rowspan="25">
      <div class="schedule-week-table__day-header-wrapper">
        <p>{{ getDayName(scheduleDayData.day) }}</p>
        <p>{{ getDateFormatted(scheduleDayData.day) }}</p>
      </div>
    </th>
  </tr>

  <ScheduleItemItem
    v-for="(scheduleItem, index) in scheduleDayData.scheduleItems"
    :key="scheduleItem.itemNumber"
    :scheduleItem="scheduleItem"
    @highlightItem="highlightItem"
    @unhighlightItem="unhighlightItem"
    @paste="emitPaste($event, index)"
  />
</template>

<script lang="ts">
import ScheduleItemItem from './schedule-item-item.vue';
import { defineComponent, PropType } from 'vue';
import { IDateMeta } from '@rozcloud/shared/interfaces';
import { IGroupScheduleItemData, IScheduleDayData } from '../../../../../common/interfaces/components/schedule-week';
import { dayNumberNameMapUa } from '../../../../../common/constants';
import { scheduleEntitiesFlyweight } from '../../../../../data/stores/schedule-week/schedule-entities-flyweight';
import { IPastePayload } from '../../../../../common/interfaces/components/schedule-week.selection';

export default defineComponent({
  emits: ['paste'],
  props: {
    scheduleDayData: {
      type: Object as PropType<IScheduleDayData>,
      required: true,
    },
  },
  methods: {
    getDayName(day: IDateMeta) {
      const dayNumber = +day.dayName;
      return dayNumberNameMapUa[dayNumber];
    },
    getDateFormatted(day: IDateMeta) {
      return scheduleEntitiesFlyweight.getFormattedDay(day.id);
    },
    highlightItem(scheduleItem: IGroupScheduleItemData) {
      scheduleItem.isHighlighted = true;
    },
    unhighlightItem(scheduleItem: IGroupScheduleItemData) {
      scheduleItem.isHighlighted = false;
    },

    emitPaste(itemDataElIndex: number, itemNumber: number) {
      const payload: IPastePayload = {
        itemDataElIndex,
        itemNumber,
        dayName: +this.scheduleDayData.day.dayName,
      };
      this.$emit('paste', payload);
    },
  },
  components: {
    ScheduleItemItem,
  },
});
</script>

<style>
.schedule-week-table__day-row {
  border-color: var(--primary-highlight);
  border-style: solid;
  border-bottom-width: 3px;
  border-top-width: 3px;
}
.schedule-week-table__day-header {
  position: sticky;
  width: 116px;
  left: 0;
  z-index: 3;
  vertical-align: middle;
  background: #fff;
  border-left: 3px solid var(--primary-highlight);
  font-weight: bold;
  white-space: nowrap;
}
.schedule-week-table__day-header-wrapper {
  height: 100%;
}

.schedule-week-table__schedule-item-attribute:hover
  ~ .schedule-week-table__cell-heading
  .schedule-week-table__cell-heading-wrapper {
  background: var(--primary-weakhightlight);
}
</style>
