<template>
  <ul class="schedule-week-sheer__select-list">
    <li
      v-for="option in selectOptions"
      @click="selectOption(option)"
      @keydown.enter="selectOption(option)"
      :key="option.id"
      tabindex="0"
      class="schedule-week-sheer__select-list-item"
    >
      <slot :option="option"></slot>
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';

export default defineComponent({
  props: {
    selectOptions: {
      type: Array as PropType<any[]>,
      required: true,
    },
  },
  emits: ['selectOption'],
  methods: {
    selectOption(selectedOption: unknown) {
      this.$emit('selectOption', selectedOption);
    },
  },
});
</script>

<style>
.schedule-week-sheer__select-list {
  position: absolute;
  top: 100%;
  width: 100%;
  left: 0;
  background: #fff;
  z-index: 2;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
  color: #787878;
  font-size: 11px;
  line-height: 13px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.8);
  max-height: 420px;
}
.schedule-week-sheer__select-list:empty {
  display: none;
}
.schedule-week-sheer__select-list-item {
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 8px;
  border-bottom: 1px solid rgba(140, 181, 242, 0.7);
}
.schedule-week-sheer__select-list-item:focus,
.schedule-week-sheer__select-list-item:hover {
  background: rgba(140, 181, 242, 0.25);
}
</style>
