<template>
  <td class="schedule-week-table__schedule-item-attribute">
    <div @focusout="blur" class="schedule-week-table__schedule-item-attribute-wrapper">
      <div
        @mousedown="focusCover"
        @keypress.enter="focusInput"
        @dblclick="focusInput"
        v-bind="$attrs"
        :class="{
          'schedule-week-sheet__schedule-item-input-cover_focused': coverFocused,
          'schedule-week-sheet__schedule-item-input-cover-input_focused': inputFocus,
        }"
        ref="cover"
        tabindex="0"
        class="schedule-week-sheet__schedule-item-input-cover"
      ></div>

      <input
        @input="emitInputValue"
        ref="inputEl"
        :value="inputValue || ''"
        tabindex="-1"
        class="schedule-week-table__schedule-item-attribute-input"
      />

      <transition name="fade">
        <SheetSelect
          v-bind="$attrs"
          @selectOption="selectOption"
          :selectOptions="selectOptions"
          @focusin="preventBlur"
          v-if="inputFocus"
        >
          <template #default="{ option }">
            <slot :option="option"></slot>
          </template>
        </SheetSelect>
      </transition>
    </div>
  </td>
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue';
import SheetSelect from './sheet-select.vue';

export default defineComponent({
  data: () => ({
    coverFocused: false,
    inputFocus: false,
    timer: null as number | null,
  }),
  inheritAttrs: false,
  props: {
    selectOptions: {
      type: Array,
      required: true,
    },
    inputValue: {
      type: String as PropType<string | null>,
      required: false,
    },
  },
  emits: ['inputChange', 'selectOption', 'created', 'destroy'],
  mounted() {
    this.$emit('created', this.$refs.inputEl);
  },
  beforeUnmount() {
    this.$emit('destroy');
  },
  methods: {
    emitInputValue(e: Event) {
      this.$emit('inputChange', e as InputEvent);
    },
    focusCover() {
      this.coverFocused = true;
      const coverEl = this.$refs.cover as HTMLDivElement;
      coverEl.focus();
    },
    preventBlur() {
      if (this.timer) {
        clearTimeout(this.timer);
      }
    },
    blur() {
      if (this.timer) {
        clearTimeout(this.timer);
      }
      this.timer = setTimeout(() => {
        this.coverFocused = false;
        this.inputFocus = false;
        this.blurFocusEl();
      });
    },
    focusInput() {
      const inputEl = this.$refs.inputEl as HTMLInputElement;
      inputEl.focus();
      if (this.timer) {
        clearTimeout(this.timer);
        this.inputFocus = true;
        this.coverFocused = true;
      }
    },
    blurFocusEl() {
      const inputEl = this.$refs.inputEl as HTMLInputElement;
      inputEl.blur();
    },
    selectOption(selectedOption: unknown) {
      setTimeout(() => {
        this.blurFocusEl();
        this.focusCover();
      });
      this.$emit('selectOption', selectedOption);
    },
  },
  components: {
    SheetSelect,
  },
});
</script>

<style>
.schedule-week-table__schedule-item-attribute-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--primary-weakhightlight);
  background: #fff;
  overflow: visible;
  height: 36px;
}

.schedule-week-sheet__schedule-item-input-cover {
  height: inherit;
  position: absolute;
  z-index: 1;
  background: transparent;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  box-sizing: border-box;
  border-style: solid;
  border-color: transparent;
  /* border: 1px solid transparent; */
  border-bottom-width: 2px;
  border-top-width: 2px;
  cursor: cell;
  outline: none;
}

.schedule-week-sheet__schedule-item-input-cover:hover {
  background: var(--primary-weak);
}

tr:nth-child(5) .schedule-week-sheet__schedule-item-input-cover {
  border-bottom-width: 1px;
}

.schedule-week-sheet__schedule-item-input-cover_focused,
.schedule-week-sheet__schedule-item-input-cover_focused:hover,
.schedule-week-sheet__schedule-item-input-cover:focus {
  background: var(--primary-weakhightlight) !important;
  border-color: var(--primary-highlight);
}

.schedule-week-sheet__schedule-item-input-cover-input_focused {
  cursor: text;
}

.schedule-week-table__schedule-item-attribute-input {
  position: relative;
  /* z-index: -1; */
  width: 100%;
  padding: 8px;
  /* pointer-events: none; */
  border: none;
  background: transparent;
  min-width: 240px;
  color: #444;
  /* color: var(--primary-highlight); */
  outline: none;
}
.schedule-week-table__schedule-item-attribute-input:focus {
  z-index: 2;
}
.schedule-week-table__schedule-item-attribute {
  border-right: 3px solid var(--primary-highlight);
}
</style>
