<template>
  <div class="main-content__wrapper">
    <AppTable header="Робітники університету">
      <tr @focus="selectCreatingItem()" tabindex="0" class="entities-table__row">
        <td></td>

        <td class="entities-table__vertical-aligned entities-table__padded">
          <button tabindex="-1" class="entities-table__add-circle">
            <PlusIcon />
          </button>
        </td>

        <td :colspan="3" class="entities-table__vertical-aligned entities-table__padded entities-table__highlight-text">
          Додати Робітника
        </td>
      </tr>

      <tr
        class="entities-table__row"
        v-for="(employee, index) in employeesStore.employees"
        :key="employee.id"
        tabindex="0"
        @focus="selectItem(employee)"
      >
        <td
          class="entities-table__vertical-aligned entities-table__padded entities-table__secondary-data-text"
          width="15"
        >
          {{ index + 1 }}
        </td>

        <td class="entities-table__vertical-aligned entities-table__padded table-cell__avatar-width">
          <AppImage shape="circle" :src="employee.avatar" class="structure-control__entity-image" />
        </td>

        <td class="entities-table__vertical-aligned entities-table__padded">
          <div class="entities-table__flex-wrapper">
            <span class="entities-table__main-data-text"> {{ employee.firstName }} {{ employee.lastName }} </span>
          </div>
        </td>

        <td class="entities-table__vertical-aligned entities-table__padded">
          <span class="entities-table__secondary-data-text">
            <a class="entities-table__link" :href="'mailto:' + employee.email">{{ employee.email }}</a>
          </span>
        </td>

        <td class="entities-table__vertical-aligned entities-table__padded">
          <span class="entities-table__secondary-data-text">
            <a class="entities-table__link" :href="'tel:' + employee.phone">{{ employee.phone }}</a>
          </span>
        </td>
      </tr>
    </AppTable>
  </div>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import AppTable from '../../../components/table.vue';
import AppImage from '../../../components/image.vue';
import { VueComponent as PlusIcon } from '../../../../assets/icons/plus-icon.small.svg';
import { employeesStore } from '../../../../data/stores/employees/employees.store';
import { useStructureId } from '../../../../common/helpers/route.helpers';
import { editedEmployeeStore } from '../../../../data/stores/employees/edited-employee.store';
import { IEmployee } from '@rozcloud/shared/interfaces';

export default defineComponent({
  setup() {
    const structureId = useStructureId();
    editedEmployeeStore.setStructureId(structureId);
    employeesStore.getEmployees();
    return {
      employeesStore: employeesStore.getState(),
    };
  },
  components: {
    AppTable,
    AppImage,
    PlusIcon,
  },
  methods: {
    selectItem(item: IEmployee) {
      employeesStore.setActiveEmployee(item.id);
    },
    selectCreatingItem() {
      employeesStore.setCreatingEmployee();
    },
  },
});
</script>

<style></style>
