<template>
  <template v-if="employeesState.creatingEmployee || employeesState.activeEmployeeId">
    <div class="right-sidebar__form-heading">
      <h2 class="right-sidebar__header">{{ employeeEditHeader }}</h2>
      <ActionsToolbar v-if="employeesState.activeEmployeeId">
        <ToolbarAction>Видалити робітника</ToolbarAction>
      </ActionsToolbar>
    </div>

    <form class="right-sidebar__form" @submit.prevent="saveEmployee()" autocomplete="off">
      <ImageInput v-model="state.image" :imageUrl="state.avatar" inputName="avatar" />
      <TextInput required v-model="state.login" class="right-sidebar__first-input" inputName="login" label="Логін" />
      <TextInput
        required
        v-model="state.password"
        v-if="!state.id"
        inputName="password"
        inputType="password"
        label="Пароль"
      />
      <TextInput v-model="state.firstName" inputName="firstName" label="Ім'я" />
      <TextInput v-model="state.lastName" inputName="lastName" label="Прізвище" />
      <TextInput v-model="state.middleName" inputName="middleName" label="По-батькові" />
      <TextInput v-model="state.phone" inputName="phone" inputType="tel" label="Номер телефону" />
      <TextInput v-model="state.email" inputName="email" inputType="email" label="Електронна адреса" />
      <TextInput v-model="state.address" inputName="address" label="Адреса" />
      <TextInput v-model="state.birthday" inputName="birthDate" label="Дата народження" inputType="date" />

      <AppSelect v-model="state.gender" :selectOptions="$options.genders" inputName="gender" label="Стать"></AppSelect>

      <AppSelect
        required
        v-model="state.employeeType"
        inputName="accessLevel"
        :selectOptions="$options.employeeTypesSelect"
        label="Рівень Доступу"
      />

      <AppSelect
        required
        v-if="state.employeeType !== $options.EmployeeTypes.Admin"
        v-model="state.structureId"
        :selectOptions="[]"
        label="Структура робітника"
        inputName="employeeType"
      />

      <AppSeparator />

      <AppButton class="right-sidebar__action-button">
        {{ employeeActionButtonText }}
      </AppButton>
    </form>
  </template>
</template>

<script lang="ts">
import { defineComponent } from 'vue';
import ImageInput from '../../../components/image-input.vue';
import TextInput from '../../../components/text-input2.vue';
import ActionsToolbar from '../../../containers/actions-toolbar/actions-toolbar.vue';
import ToolbarAction from '../../../containers/actions-toolbar/action-option.vue';
import AppButton from '../../../components/button2.vue';
import AppSeparator from '../../../components/separator.vue';
import AppSelect from '../../../components/select.vue';
import { employeeTypesSelect, genders } from '../../../../common/constants';
import { editedEmployeeStore } from '../../../../data/stores/employees/edited-employee.store';
import { EmployeeTypes } from '@rozcloud/shared/enums';
import { employeesStore } from '../../../../data/stores/employees/employees.store';
import { ICreateEmployeePayload } from '@rozcloud/shared/interfaces';

export default defineComponent({
  setup() {
    const state = editedEmployeeStore.getState();
    const employeesState = employeesStore.getState();
    return {
      state,
      employeesState,
    };
  },
  components: {
    TextInput,
    ActionsToolbar,
    ToolbarAction,
    ImageInput,
    AppButton,
    AppSeparator,
    AppSelect,
  },
  employeeTypesSelect,
  genders,
  EmployeeTypes,
  methods: {
    saveEmployee() {
      if (this.state.id) {
        return employeesStore.updateEmployee(this.state.id, this.state);
      }
      if (!this.state.id) {
        return employeesStore.createEmployee(this.state as ICreateEmployeePayload);
      }
    },
  },
  computed: {
    employeeEditHeader() {
      if (this.state.id) {
        return 'Змінити дані робітника';
      }
      return 'Додати робітника';
    },
    employeeActionButtonText() {
      if (this.state.id) {
        return 'Змінити дані';
      }
      return 'Створити робітника';
    },
  },
});
</script>

<style></style>
